/*animation*/

.move_left_header {
	animation-timing-function: ease-out;
	-webkit-animation: move_left .5s ease-out;
	animation: move_left .5s ease-out;
}
@keyframes move_left {
	from {
		transform: translatex(-200px);
	}

	to {
		transform: translatex(0px);
	}
}
.move_away {
	animation-timing-function: ease-out;
	-webkit-animation: move_away .5s ease-out;
	animation: move_away .5s ease-out;
}
@keyframes move_away {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(-300px);
	}
}