* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

body {
  font-family: 'lato'; }

h2 {
  font-size: 24px;
  font-family: 'lato';
  font-weight: 500;
  color: #000; }

.button {
  display: block;
  font-size: 19px;
  color: #fff;
  font-family: 'lato';
  font-weight: 500;
  height: 50px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  border: 1px solid #008000;
  background: #008000;
  background: -webkit-gradient(linear, left top, left bottom, from(#008000), to(#17bc2e));
  background: -webkit-linear-gradient(top, #008000 0%, #17bc2e 100%);
  background: linear-gradient(to bottom, #008000 0%, #17bc2e 100%); }
  .button .fa {
    color: #fff;
    font-size: 20px; }
  .button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#17bc2e), to(#2e8c56));
    background: -webkit-linear-gradient(top, #17bc2e 0%, #2e8c56 100%);
    background: linear-gradient(to bottom, #17bc2e 0%, #2e8c56 100%); }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent; }

/****Lato Family****/
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Semibold.eot");
  src: url("../fonts/lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Semibold.woff2") format("woff2"), url("../fonts/lato/Lato-Semibold.woff") format("woff"), url("../fonts/lato/Lato-Semibold.ttf") format("truetype"), url("../fonts/lato/Lato-Semibold.svg#Lato-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-heavy/Lato-Heavy.eot");
  src: url("../fonts/lato-heavy/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-heavy/Lato-Heavy.woff2") format("woff2"), url("../fonts/lato-heavy/Lato-Heavy.woff") format("woff"), url("../fonts/lato-heavy/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-medium/Lato-Medium.eot");
  src: url("../fonts/lato-medium/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-medium/Lato-Medium.woff") format("woff"), url("../fonts/lato-medium/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.constructor {
  width: 1260px;
  margin: 25px auto 0 auto; }
  .constructor__top-nav {
    height: 61px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 5px;
    border: 1px solid #7690c9;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .constructor__top-nav .blue-block {
      background: #7690c9;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 17px;
      color: #fff;
      font-weight: 500;
      padding: 0 17px;
      position: relative;
      margin-left: 13px;
      margin-right: 31px; }
      .constructor__top-nav .blue-block:after {
        display: block;
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -16px;
        border: 16px solid transparent;
        border-left: 20px solid #7690c9; }
    .constructor__top-nav .blue-block:first-child {
      margin-left: 0px; }
    .constructor__top-nav .inpbox {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .constructor__top-nav .inpbox input {
        width: 74px;
        height: 32px;
        border: 1px solid #00557d;
        -webkit-border-radius: 1px;
                border-radius: 1px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: block;
        padding-left: 5px;
        font-size: 19px;
        color: #000; }
      .constructor__top-nav .inpbox label {
        font-size: 16px;
        color: #000;
        margin-left: 5px; }
    .constructor__top-nav .text {
      font-size: 17px;
      color: #000;
      font-weight: 500; }
      .constructor__top-nav .text .red {
        color: #dc143c;
        font-size: 19px;
        font-weight: 900; }
      .constructor__top-nav .text .red_ml {
        margin-left: 12px; }
  .constructor__content {
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .constructor__nav-left {
    width: 60px;
    margin-right: 12px; }
    .constructor__nav-left .item {
      height: 60px;
      background: #00557d;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 32px;
      font-weight: 900;
      color: #fff;
      border: 1px solid transparent;
      margin-bottom: 39px;
      position: relative;
      cursor: pointer; }
      .constructor__nav-left .item .fa {
        display: none; }
      .constructor__nav-left .item:first-child:before {
        width: 13px;
        height: 1px;
        background: #00557d;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -.5px;
        display: block;
        content: ''; }
      .constructor__nav-left .item:last-child {
        margin-bottom: 0; }
      .constructor__nav-left .item:last-child:after {
        display: none; }
      .constructor__nav-left .item:after {
        width: 1px;
        height: 40px;
        display: block;
        content: '';
        background: #00557d;
        position: absolute;
        left: 50%;
        margin-left: -.5px;
        top: 100%; }
    .constructor__nav-left .item_lock {
      background: #fff;
      border-color: #00557d; }
      .constructor__nav-left .item_lock span {
        display: none; }
      .constructor__nav-left .item_lock .fa {
        color: #00557d;
        display: block; }
  .constructor__center {
    padding: 4px 16px 16px 16px;
    border: 1px solid #00557d;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    width: 752px; }
    .constructor__center h2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .constructor__center h2 .fa {
      font-size: 50px;
      -webkit-transition: .4s;
      transition: .4s;
      cursor: pointer; }
    .constructor__center h2 .fa:first-child {
      margin-right: 34px; }
    .constructor__center h2 .fa:hover {
      color: #FFA500; }
    .constructor__center h2 .disactive {
      color: #dcdcdc; }
    .constructor__center h2 .active {
      color: #16bd2d; }
  .constructor__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .constructor__mod {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-top: 1px solid #d8d8d8;
    padding: 30px 0 0 0; }
    .constructor__mod .item {
      cursor: pointer; }
      .constructor__mod .item picture {
        height: 150px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-repeat: no-repeat;
        background-position: center bottom; }
      .constructor__mod .item1 {
        width: 120px; }
      .constructor__mod .item2 {
        width: 120px; }
      .constructor__mod .item3 {
        width: 120px; }
      .constructor__mod .item4 {
        width: 260px; }
      .constructor__mod .item1 picture {
        background-image: url(../img/A4.png); }
      .constructor__mod .item2 picture {
        background-image: url(../img/A5.png); }
      .constructor__mod .item3 picture {
        background-image: url(../img/A6.png); }
      .constructor__mod .item4 picture {
        background-image: url(../img/Planing.png); }
      .constructor__mod .item1:hover picture {
        background-image: url(../img/A4-hover.png); }
      .constructor__mod .item2:hover picture {
        background-image: url(../img/A5-hover.png); }
      .constructor__mod .item3:hover picture {
        background-image: url(../img/A6-hover.png); }
      .constructor__mod .item4:hover picture {
        background-image: url(../img/Planing-hover.png); }
      .constructor__mod .item figcaption {
        margin-top: 13px;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        text-align: center; }
  .constructor__cover-type {
    margin: 26px 0 17px;
    padding: 9px 0 18px;
    border: 1px solid #d8d8d8;
    border-width: 1px 0 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .constructor__cover-type h2 {
      width: 100%;
      margin-bottom: 9px; }
    .constructor__cover-type .inpbox {
      position: relative;
      margin-left: 40px; }
      .constructor__cover-type .inpbox1 {
        margin-left: 0; }
      .constructor__cover-type .inpbox input {
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        margin-left: 40px; }
        .constructor__cover-type .inpbox input:checked + label:before {
          border-color: #ffa500;
          background: #ffee99 url(../img/check.png) no-repeat center; }
      .constructor__cover-type .inpbox label {
        font-size: 17px;
        font-weight: 500;
        color: #000;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer; }
        .constructor__cover-type .inpbox label:before {
          display: block;
          content: '';
          width: 25px;
          height: 25px;
          border: 1px solid #d8d8d8;
          margin-right: 12px;
          -webkit-transition: background-color .4s, border .4s;
          transition: background-color .4s, border .4s; }
  .constructor__submit {
    width: 246px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .constructor__submit span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .constructor__submit .fa {
      color: #fff;
      font-size: 44px;
      margin-left: 18px; }
  .constructor__right {
    width: 354px;
    margin-left: 34px; }
    .constructor__right .book-model {
      height: 471px;
      position: relative; }
      .constructor__right .book-model .basis {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5; }
    .constructor__right .book-model-name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 26px;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 7px; }
      .constructor__right .book-model-name span {
        font-size: 16px;
        color: #000; }
        .constructor__right .book-model-name span b {
          font-weight: 900; }
      .constructor__right .book-model-name .button {
        width: auto;
        text-decoration: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 7px;
        height: 34px; }
        .constructor__right .book-model-name .button .fa {
          font-size: 20px;
          color: #fff;
          margin-right: 12px; }
    .constructor__right .book-navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 15px; }
      .constructor__right .book-navigation figure {
        text-align: center;
        cursor: pointer; }
        .constructor__right .book-navigation figure picture {
          display: block; }
        .constructor__right .book-navigation figure figcaption {
          font-size: 13px;
          font-weight: 500;
          color: #000;
          margin-top: 6px; }
      .constructor__right .book-navigation .shear {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
    .constructor__right .warning {
      font-size: 16px;
      color: #000;
      font-weight: 500;
      padding: 8px 14px;
      background: #FAF0E6;
      margin-top: 14px; }
      .constructor__right .warning .p1 {
        margin-bottom: 5px; }
      .constructor__right .warning .fa {
        color: #dc143c;
        font-size: 20px;
        margin-right: 19px; }
