@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaDemiC';
  src: url("../fonts/FuturaDemiC.woff2") format("woff2"), url("../fonts/FuturaDemiC.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.slide-left {
  -webkit-animation: slide-left .6s linear forwards;
          animation: slide-left .6s linear forwards; }

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  @media (max-width: 768px) {
    0% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw); }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } } }

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  @media (max-width: 768px) {
    0% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw); }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } } }

.move-away {
  -webkit-animation: move-away .6s linear forwards;
          animation: move-away .6s linear forwards; }

@-webkit-keyframes move-away {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); } }

@keyframes move-away {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

body {
  font-family: 'SF UI Display'; }

.overflow {
  overflow: hidden; }

.main {
  overflow: hidden;
  position: relative; }
  .main--static {
    padding-top: 140px; }
    @media (max-width: 768px) {
      .main--static {
        padding-top: 90px; } }

.hide {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px;
  opacity: 0; }

.h2, .h1 {
  font-size: 37px;
  margin-bottom: 20px;
  font-family: 'FuturaDemiC';
  color: #746288;
  text-align: center;
  text-transform: uppercase; }
  .h2--mt70, .h1--mt70 {
    margin-top: 70px; }
  .h2--mt100, .h1--mt100 {
    margin-top: 100px; }
  @media (max-width: 1024px) {
    .h2, .h1 {
      font-size: 32px; } }

p.text {
  font-size: 1vw;
  line-height: 1.1875;
  margin-bottom: 30px;
  color: #1d1d1d; }
  @media (max-width: 1280px) {
    p.text {
      font-size: 16px; } }

.mail-link {
  color: #0088C4;
  -webkit-transition: color .4s;
  transition: color .4s; }
  .mail-link:hover {
    color: #E72446;
    text-decoration: underline; }

.menu__wrap {
  position: relative;
  width: 60px;
  height: 60px; }

span.hamburger {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: -7px;
  right: 0;
  cursor: pointer; }

.hamburger__text {
  font-size: 16px;
  text-align: center;
  font-family: 'SF UI Display';
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px; }

.hamburger__back {
  display: none; }

span.hamburger span {
  display: block;
  width: 50px;
  top: 50%;
  margin-top: -2px;
  margin-left: 5px;
  position: absolute;
  background: #fff;
  -webkit-transition: all .2s linear; }

span.hamburger span.line {
  display: block;
  width: 50px;
  height: 6px;
  top: 50%;
  margin-top: -2px;
  margin-left: 5px;
  position: absolute;
  background: #fff;
  -webkit-transition: all .2s linear; }

span.hamburger span:before,
span.hamburger span:after {
  content: '';
  width: 50px;
  height: 6px;
  background: #fff;
  position: absolute;
  margin-top: -11px;
  -webkit-transition: all .2s linear; }

span.hamburger span:after {
  margin-top: 11px; }

span.hamburger:hover {
  -webkit-transform: scale(1.1); }

span.hamburger:hover span,
span.hamburger:hover span:before,
span.hamburger:hover span:after {
  background: #fff; }

span.hamburger.hamburgerActive span,
span.hamburger.hamburgerActive span:before,
span.hamburger.hamburgerActive span:after {
  background: #fff; }

span.hamburger.hamburgerActive span.line {
  opacity: 0; }

span.hamburger.hamburgerActive span:before {
  margin-top: 0px;
  -webkit-transform: rotate(45deg); }

span.hamburger.hamburgerActive span:after {
  margin-top: 0px;
  -webkit-transform: rotate(-45deg); }

span.hamb-close {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer; }

span.hamb-close span {
  display: block;
  width: 50px;
  top: 50%;
  margin-top: -2px;
  margin-left: 5px;
  position: absolute;
  background: #fff;
  -webkit-transition: all .2s linear; }

span.hamb-close span.line {
  display: block;
  width: 50px;
  height: 6px;
  top: 50%;
  margin-top: -2px;
  margin-left: 5px;
  position: absolute;
  background: #fff;
  -webkit-transition: all .2s linear; }

span.hamb-close span:before,
span.hamb-close span:after {
  content: '';
  width: 50px;
  height: 6px;
  background: #fff;
  position: absolute;
  margin-top: -8px;
  -webkit-transition: all .2s linear; }

span.hamb-close span:after {
  margin-top: 8px; }

span.hamb-close:hover {
  -webkit-transform: scale(1.1); }

span.hamb-close:hover span,
span.hamb-close:hover span:before,
span.hamb-close:hover span:after {
  background: #fff; }

span.hamb-close.hamb-closeActive span,
span.hamb-close.hamb-closeActive span:before,
span.hamb-close.hamb-closeActive span:after {
  background: #fff; }

span.hamb-close.hamb-closeActive span.line {
  opacity: 0; }

span.hamb-close.hamb-closeActive span:before {
  margin-top: 0px;
  -webkit-transform: rotate(45deg); }

span.hamb-close.hamb-closeActive span:after {
  margin-top: 0px;
  -webkit-transform: rotate(-45deg); }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.jq-selectbox__select {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #000;
  height: 50px;
  margin-left: 9px;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .jq-selectbox__select:hover, .jq-selectbox__select:active {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.jq-selectbox__select-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: 300;
  color: #000 !important; }

.jq-selectbox__trigger {
  width: 17px;
  background: #e1e1e1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.jq-selectbox__trigger-arrow {
  position: static;
  margin: 0;
  padding: 0;
  border-top-color: #000; }

.jq-selectbox__dropbox {
  z-index: 999; }

.jq-selectbox.w1 {
  width: 200px; }

.jq-selectbox.w2 {
  width: 300px; }

.jq-selectbox.w3 {
  width: 250px; }

@media (max-width: 1280px) {
  .jq-selectbox.w1 {
    width: auto; }
  .jq-selectbox.w2 {
    width: auto; }
  .jq-selectbox.w3 {
    width: auto; } }

@media (Max-width: 1024px) {
  .jq-selectbox {
    width: 100% !important; }
    .jq-selectbox__select {
      margin-left: 0;
      margin-top: 10px; } }
