/****COLORS****/
.c-4700 {
  background: #5c3135; }

.c-4916 {
  background: #c89777; }

.c-4890 {
  background: #20367d; }

.c-4872 {
  background: #a31120; }

.c-4741 {
  background: #e35d3b; }

.c-4720 {
  background: #1d5340; }

.c-4716 {
  background: #2d376b; }

.c-4714 {
  background: #90513f; }

.a967 {
  background: #b5bd87; }

.b920 {
  background: #dd3259; }

.b923 {
  background: #7679a3; }

.d162 {
  background: #b8e759; }

.d512 {
  background: #ababac; }

.d519 {
  background: #868789; }

.e280 {
  background: #ffce2f; }

.e478 {
  background: #1dd047; }

.e480 {
  background: #70385f; }

.f002 {
  background: #e44d8d; }

.f003 {
  background: #2d9ad5; }

.nero {
  background: #000000; }

.white {
  background: #f9f9f9; }

.a278 {
  background: #265033; }

.a322 {
  background: #673a27; }

.a324 {
  background: #7a2638; }

.a325 {
  background: #2f3962; }

.a330 {
  background: #c1955f; }

.a331 {
  background: #89878c; }

.b561 {
  background: #753b15; }

.b562 {
  background: #4c1e18; }

.b564 {
  background: #8b1818; }

.b566 {
  background: #2b472e; }

.b568 {
  background: #2f3c4c; }

.a370 {
  background: #5f3234; }

.a279 {
  background: #743e2a; }

.c-4872 {
  background: #cd2c29; }

.c-4890 {
  background: #324394; }

.d613m {
  background: #dcdcdc; }

.f355 {
  background: #435394; }

.f358 {
  background: #808074; }

.f359 {
  background: #595956; }

.c-4401 {
  background: #f9e99a; }

.c-4407 {
  background: #bebebe; }

.a737 {
  background: #457ee8; }

.e324 {
  background: #88724c; }

.e328 {
  background: #533329; }

.e329 {
  background: #5c1725; }

.e331 {
  background: #212d41; }

.e332 {
  background: #444444; }

.e337 {
  background: #156549; }

.e044 {
  background: #d0449f; }

.f311 {
  background: #ffce2f; }

.f313 {
  background: #1390e4; }

.f319 {
  background: #37ca32; }

.b633m {
  background: #00b271; }

.b634m {
  background: #63888b; }

.b636m {
  background: #695075; }

.c-077 {
  background: #f0f0f0; }

.a220 {
  background: #743e2a; }

.a222 {
  background: #9a2222; }

.a223 {
  background: #7a2833; }

.a224 {
  background: #226b4a; }

.a226 {
  background: #272f68; }

.a227 {
  background: #2a3244; }

.a229 {
  background: #2a4130; }

.a837 {
  background: #e0583c; }

.d135m {
  background: #596260; }

.d140 {
  background: #2b6daf; }

.d148 {
  background: #bb6a94; }

.d155 {
  background: #129fac; }

.c-026 {
  background: #d89ea6; }

.c-049 {
  background: #5174a9; }

.c-083 {
  background: #9a5388; }

.b113m {
  background: #6b323a; }

.b116m {
  background: #4a6085; }

.b122m {
  background: #4d4d4d; }

.f125 {
  background: #6e5f58; }

.f126 {
  background: #6a6f66; }

.f176 {
  background: #624235; }

.d900 {
  background: #50111d; }

.d901 {
  background: #53271f; }

.d923 {
  background: #1a2f22; }

.d926 {
  background: #94180f; }

.d945m {
  background: #e16d29; }

.d947m {
  background: #153b5c; }

.a976 {
  background: #e8b781; }

.a977 {
  background: #82552c; }

.a978 {
  background: #6b3e33; }

.a979 {
  background: #4e2623; }

.f336 {
  background: #b0a285; }

.f340 {
  background: #774545; }

.f341 {
  background: #65574d; }

.f355 {
  background: #334c8b; }

.f356 {
  background: #375057; }

.f441 {
  background: #582a31; }

.f444 {
  background: #153053; }

.f155 {
  background: #81887d; }

.f156 {
  background: #7d7170; }

.f157 {
  background: #884b41; }

/***FIRMWARE-COLORS***/
.c-001 {
  background: #F5F5F5; }

.c-124 {
  background: #F1D51C; }

.c-126 {
  background: #FBA338; }

.c-127 {
  background: #F6A86D; }

.c-128 {
  background: #E04E30; }

.c-017 {
  background: #E24A30; }

.c-028 {
  background: #D5474C; }

.c-029 {
  background: #AF283A; }

.c-143 {
  background: #D95F7F; }

.c-038 {
  background: #83484C; }

.c-145 {
  background: #B49DB3; }

.c-149 {
  background: #6E5366; }

.c-048 {
  background: #9598B6; }

.c-062 {
  background: #7199AE; }

.c-157 {
  background: #5A93BD; }

.c-057 {
  background: #395172; }

.c-231 {
  background: #3A4B55; }

.c-163 {
  background: #639397; }

.c-164 {
  background: #39676B; }

.c-076 {
  background: #355F53; }

.c-174 {
  background: #C9D494; }

.c-085 {
  background: #7E9771; }

.c-172 {
  background: #C6BC80; }

.c-177 {
  background: #9A806B; }

.c-095 {
  background: #CB8D6F; }

.c-097 {
  background: #A15F37; }

.c-117 {
  background: #EFD0C3; }

.c-194 {
  background: #C6A79F; }

.c-224 {
  background: #A55F52; }

.c-213 {
  background: #D5D2D1; }

.c-181 {
  background: #C9AEA0; }

.c-114 {
  background: #767871; }

.c-115 {
  background: #334146; }

/***EYELET***/
.c-pet1 {
  background: #ab9490; }

.c-pet2 {
  background: #efd32d; }

.c-pet3 {
  background: #ea6c47; }

.c-pet4 {
  background: #dc143c; }

.c-pet5 {
  background: #944748; }

.c-pet6 {
  background: #727191; }

.c-pet7 {
  background: #396ea5; }

.c-pet8 {
  background: #485c64; }

.c-pet9 {
  background: #29977f; }

.c-pet10 {
  background: #567e6b; }

.c-pet11 {
  background: #56595d; }

/***RUBBER***/
.c-rub1 {
  background: #333333; }

.c-rub2 {
  background: #305b9c; }

.c-rub12 {
  background: #676867; }

.l1639 {
  background: #6f667c; }

.l1904 {
  background: #95888d; }

.l4241 {
  background: #f0d01e; }

.l4302 {
  background: #e0632f; }

.l4802 {
  background: #3e8c74; }

.l4803 {
  background: #597d69; }

.l7001 {
  background: #595858; }

.l7502 {
  background: #d53938; }

.l4504 {
  background: #833d39; }

.l7701 {
  background: #48668e; }

.l7704 {
  background: #485f6c; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

.mr-20 {
  margin-right: 20px; }

.border-bot {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 13px; }

.border-top {
  border-top: 1px solid #d8d8d8;
  padding-top: 13px; }

.no-bordertop {
  border-top: none; }

.no-borderbot {
  border-bottom: none; }

body {
  font-family: 'lato'; }

h2 {
  font-size: 24px;
  font-family: 'lato';
  font-weight: 500;
  color: #000; }

h3 {
  font-size: 17px;
  font-weight: 900;
  color: #000;
  width: 100%;
  margin-bottom: 10px; }

.inpbox {
  position: relative;
  margin-left: 40px; }
  .inpbox1 {
    margin-left: 0; }
  .inpbox input {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    margin-left: 40px; }
    .inpbox input:checked + label:before {
      border-color: #ffa500;
      background: #ffee99 url(../img/check.png) no-repeat center; }
  .inpbox label {
    font-size: 17px;
    font-weight: 500;
    color: #000;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .inpbox label:before {
      display: block;
      content: '';
      width: 25px;
      height: 25px;
      border: 1px solid #d8d8d8;
      margin-right: 12px;
      -webkit-transition: background-color .4s, border .4s;
      transition: background-color .4s, border .4s;
      background: #fff; }
  .inpbox_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.textarea {
  min-height: 80px;
  border: 1px solid #d8d8d8;
  padding: 7px 4px;
  color: #696969;
  font-size: 13px;
  resize: vertical;
  width: 100%;
  font-family: 'lato'; }

.button {
  display: block;
  font-size: 19px;
  color: #fff;
  font-family: 'lato';
  font-weight: 500;
  height: 50px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  border: 1px solid #008000;
  background: #008000;
  background: -webkit-gradient(linear, left top, left bottom, from(#008000), to(#17bc2e));
  background: -webkit-linear-gradient(top, #008000 0%, #17bc2e 100%);
  background: linear-gradient(to bottom, #008000 0%, #17bc2e 100%); }
  .button .fa {
    color: #fff;
    font-size: 20px; }
  .button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#17bc2e), to(#2e8c56));
    background: -webkit-linear-gradient(top, #17bc2e 0%, #2e8c56 100%);
    background: linear-gradient(to bottom, #17bc2e 0%, #2e8c56 100%); }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent; }

/****Lato Family****/
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Semibold.eot");
  src: url("../fonts/lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Semibold.woff2") format("woff2"), url("../fonts/lato/Lato-Semibold.woff") format("woff"), url("../fonts/lato/Lato-Semibold.ttf") format("truetype"), url("../fonts/lato/Lato-Semibold.svg#Lato-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-heavy/Lato-Heavy.eot");
  src: url("../fonts/lato-heavy/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-heavy/Lato-Heavy.woff2") format("woff2"), url("../fonts/lato-heavy/Lato-Heavy.woff") format("woff"), url("../fonts/lato-heavy/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-medium/Lato-Medium.eot");
  src: url("../fonts/lato-medium/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-medium/Lato-Medium.woff") format("woff"), url("../fonts/lato-medium/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.brown1 {
  background: #c6916b; }

.brown2 {
  background: #555658; }

.brown3 {
  background: #674648; }

.orange1 {
  background: #fba338; }

.orange2 {
  background: #e46343; }

.red1 {
  background: #ca2b3a; }

.pink1 {
  background: #f53762; }

.purple1 {
  background: #a3a7e9; }

.purple2 {
  background: #8f90bb; }

.green1 {
  background: #316048; }

.green2 {
  background: #213c2b; }

.blue1 {
  background: #336e9e; }

.blue2 {
  background: #296b9b; }

.black {
  background: #1c1d22; }

.grey1 {
  background: #dbdadf; }

.grey2 {
  background: #555658; }

.yellow {
  background: #ffea00; }

.constructor {
  width: 1260px;
  margin: 25px auto 0 auto; }
  .constructor__content {
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .constructor__nav-left {
    width: 60px;
    margin-right: 12px; }
    .constructor__nav-left .item {
      height: 60px;
      background: #00557d;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 32px;
      font-weight: 900;
      color: #fff;
      border: 1px solid transparent;
      margin-bottom: 39px;
      position: relative;
      cursor: pointer; }
      .constructor__nav-left .item .fa {
        display: none; }
      .constructor__nav-left .item:first-child:before {
        width: 13px;
        height: 1px;
        background: #00557d;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -.5px;
        display: block;
        content: ''; }
      .constructor__nav-left .item:last-child {
        margin-bottom: 0; }
      .constructor__nav-left .item:last-child:after {
        display: none; }
      .constructor__nav-left .item:after {
        width: 1px;
        height: 40px;
        display: block;
        content: '';
        background: #00557d;
        position: absolute;
        left: 50%;
        margin-left: -.5px;
        top: 100%; }
    .constructor__nav-left .item_lock {
      background: #fff;
      border-color: #00557d; }
      .constructor__nav-left .item_lock span {
        display: none; }
      .constructor__nav-left .item_lock .fa {
        color: #00557d;
        display: block; }
  .constructor__center {
    padding: 4px 16px 16px 16px;
    border: 1px solid #00557d;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    width: 752px; }
    .constructor__center h2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .constructor__center h2 .fa {
      font-size: 50px;
      -webkit-transition: .4s;
      transition: .4s;
      cursor: pointer; }
    .constructor__center h2 .fa:first-child {
      margin-right: 34px; }
    .constructor__center h2 .fa:hover {
      color: #FFA500; }
    .constructor__center h2 .disactive {
      color: #dcdcdc; }
    .constructor__center h2 .active {
      color: #16bd2d; }
  .constructor__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .constructor__mod {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-top: 1px solid #d8d8d8;
    padding: 30px 0 0 0; }
    .constructor__mod .item {
      cursor: pointer; }
      .constructor__mod .item picture {
        height: 150px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-repeat: no-repeat;
        background-position: center bottom; }
      .constructor__mod .item1 {
        width: 120px; }
      .constructor__mod .item2 {
        width: 120px; }
      .constructor__mod .item3 {
        width: 120px; }
      .constructor__mod .item4 {
        width: 260px; }
      .constructor__mod .item1 picture {
        background-image: url(../img/A4.png); }
      .constructor__mod .item2 picture {
        background-image: url(../img/A5.png); }
      .constructor__mod .item3 picture {
        background-image: url(../img/A6.png); }
      .constructor__mod .item4 picture {
        background-image: url(../img/Planing.png); }
      .constructor__mod .item1:hover picture {
        background-image: url(../img/A4-hover.png); }
      .constructor__mod .item2:hover picture {
        background-image: url(../img/A5-hover.png); }
      .constructor__mod .item3:hover picture {
        background-image: url(../img/A6-hover.png); }
      .constructor__mod .item4:hover picture {
        background-image: url(../img/Planing-hover.png); }
      .constructor__mod .item figcaption {
        margin-top: 13px;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        text-align: center; }
  .constructor__cover-type {
    margin: 2px 0 17px;
    padding: 13.5px 0;
    border: 1px solid #d8d8d8;
    border-width: 1px 0 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .constructor__cover-type h2 {
      width: 100%;
      margin-bottom: 9px; }
  .constructor__cover-type_bord-top {
    border-top: none; }
  .constructor__submit {
    width: 246px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    cursor: pointer; }
    .constructor__submit span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
    .constructor__submit .fa {
      color: #fff;
      font-size: 44px;
      margin-left: 18px; }
  .constructor__submit_prev .fa {
    margin-right: 18px;
    margin-left: 0; }
  .constructor__right {
    width: 354px;
    margin-left: 34px;
    position: relative; }
    .constructor__right .book-model {
      height: 471px;
      position: relative; }
    .constructor__right .basis-color {
      position: relative;
      display: none;
      height: 100%; }
      .constructor__right .basis-color:first-child {
        display: block; }
    .constructor__right .basis-color__skin {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block !important; }
    .constructor__right .basis-color__item {
      display: none;
      height: 100%; }
      .constructor__right .basis-color__item:first-child {
        display: block; }
    .constructor__right .book-model-name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 26px;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 7px; }
      .constructor__right .book-model-name span {
        font-size: 16px;
        color: #000; }
        .constructor__right .book-model-name span b {
          font-weight: 900; }
      .constructor__right .book-model-name .button {
        width: auto;
        text-decoration: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 7px;
        height: 34px; }
        .constructor__right .book-model-name .button .fa {
          font-size: 20px;
          color: #fff;
          margin-right: 12px; }
    .constructor__right .warning {
      font-size: 16px;
      color: #000;
      font-weight: 500;
      padding: 8px 14px;
      background: #FAF0E6;
      margin-top: 14px; }
      .constructor__right .warning .p1 {
        margin-bottom: 5px; }
      .constructor__right .warning .fa {
        color: #dc143c;
        font-size: 20px;
        margin-right: 19px; }
  .constructor__tab {
    display: none; }
    .constructor__tab:nth-child(1) {
      display: block; }
  .constructor .button-nav_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .constructor .button-nav_flex .button_buy {
      width: 125px;
      height: 34px;
      text-decoration: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 15px;
      font-weight: 500;
      margin-right: 28px; }
      .constructor .button-nav_flex .button_buy .fa {
        font-size: 20px !important;
        margin-right: 19px !important; }
    .constructor .button-nav_flex .fa-angle-left {
      margin-right: 34px; }
  .constructor__cover-type_flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .constructor__cover-type_flex .inp-label {
      margin-right: 25px; }
      .constructor__cover-type_flex .inp-label_mrr {
        margin-right: 14px; }
      .constructor__cover-type_flex .inp-label_mrl {
        margin-left: 21px;
        margin-right: 8px; }
      .constructor__cover-type_flex .inp-label_mr2 {
        margin: 0 8px 0 20px; }
  .constructor__cover-type_nomgb {
    margin-bottom: 0; }
  .constructor__combo-type {
    margin: 10px 0 20px; }
  .constructor__combo-slider {
    padding: 25px 30px 0 30px; }
    .constructor__combo-slider .item {
      position: relative;
      cursor: pointer; }
      .constructor__combo-slider .item img {
        margin: 0 auto; }
    .constructor__combo-slider .item:hover .img-hover {
      opacity: 1; }
    .constructor__combo-slider .img-default {
      -webkit-transition: opacity .8s;
      transition: opacity .8s;
      opacity: 1; }
    .constructor__combo-slider .img-hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      -webkit-transition: opacity .8s;
      transition: opacity .8s; }
    .constructor__combo-slider .item:hover .img-default {
      opacity: 0; }
    .constructor__combo-slider .slick-arrow {
      z-index: 2;
      width: 18px;
      height: 31px;
      background: url(../img/angle-left.svg) no-repeat;
      background-size: 18px auto;
      top: 57%;
      position: absolute; }
      .constructor__combo-slider .slick-arrow:before {
        display: none; }
    .constructor__combo-slider .slick-prev {
      left: 0; }
    .constructor__combo-slider .slick-next {
      right: 0;
      background-image: url(../img/angle-right.svg); }
  .constructor__cover-type_label-font .inpbox label {
    font-size: 15px; }
  .constructor__string {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 6px 0 0 0;
    padding-bottom: 10px; }
    .constructor__string .color-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 497px; }
      .constructor__string .color-box .item {
        width: 34px;
        height: 34px;
        margin-left: 0px;
        cursor: pointer;
        position: relative;
        -webkit-box-shadow: inset 0 0 0 3px #fff;
                box-shadow: inset 0 0 0 3px #fff;
        border: 2px solid #fff;
        -webkit-transition: border-color .4s;
        transition: border-color .4s; }
        .constructor__string .color-box .item:first-child {
          margin-left: 0px; }
        .constructor__string .color-box .item:hover, .constructor__string .color-box .item:active, .constructor__string .color-box .item:focus {
          border: 2px solid #ffa500; }
        .constructor__string .color-box .item.act {
          border: 2px solid #ffa500; }
      .constructor__string .color-box_rubber-item {
        display: none; }
        .constructor__string .color-box_rubber-item:first-child {
          display: block; }
        .constructor__string .color-box_rubber-item .item {
          float: left; }
        .constructor__string .color-box_rubber-item:after {
          display: block;
          content: '';
          clear: both; }
      .constructor__string .color-box .inpbox {
        position: relative;
        z-index: 10;
        margin-left: 0;
        margin-top: 3px; }
  .constructor__string_firmware {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: none;
    border-bottom: 1px solid #d8d8d8; }
    .constructor__string_firmware span {
      width: 85px;
      margin-top: 3px; }
    .constructor__string_firmware .color-box {
      width: 630px; }

.material__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
  margin-bottom: -1px; }
  .material__tabs .tab {
    width: 150px;
    height: 37px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-left: -10px;
    position: relative;
    cursor: pointer;
    background: url(../img/tab-hover.png) no-repeat;
    border-bottom: 1px solid #dcdcdc; }
    .material__tabs .tab:first-child {
      margin-left: 0; }
  .material__tabs .act {
    z-index: 2;
    background: url(../img/tab.png) no-repeat;
    border-bottom: 1px solid #fff; }

.material__cont-wrap {
  border: 1px solid #dcdcdc;
  padding: 19px 28px 28px 28px; }

.material__colors {
  margin-top: 20px; }

.material__select {
  height: 33px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 188px;
  position: relative;
  cursor: pointer; }
  .material__select .jq-selectbox__select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 9px;
    border: none; }
  .material__select .jq-selectbox__dropdown {
    position: absolute;
    left: -1px;
    top: 100% !important;
    right: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
    z-index: 999;
    background: #fff; }
    .material__select .jq-selectbox__dropdown ul {
      height: 180px !important; }
    .material__select .jq-selectbox__dropdown li {
      padding: 5px 0 5px 9px;
      -webkit-transition: background .4s;
      transition: background .4s;
      background: #fff; }
      .material__select .jq-selectbox__dropdown li:hover {
        background: #ccc; }
  .material__select .jq-selectbox__trigger {
    width: 17px;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1 url(../img/angle-down.svg) no-repeat center;
    background-size: 10px auto;
    border-left: 1px solid #adadad; }
    .material__select .jq-selectbox__trigger div {
      display: none; }

.material__select_width1 {
  width: 57px; }

.material__select_width2 {
  width: 200px; }

.material__box {
  display: none;
  margin: -7px;
  position: relative; }
  .material__box:first-child {
    display: block; }
  .material__box:after {
    display: block;
    content: '';
    clear: both; }
  .material__box .color-picker {
    width: 60px;
    height: 60px;
    float: left;
    margin: 7px;
    cursor: pointer; }

.constructor__string {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .constructor__string .string-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -26px; }
    .constructor__string .string-left > div {
      margin: 0; }
    .constructor__string .string-left .inpbox_mb {
      margin-left: 0; }
    .constructor__string .string-left .string-name {
      width: 87px;
      height: 27px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: -4px; }
  .constructor__string .color-box__wrap .title {
    text-align: center; }
  .constructor__string .color-box__wrap .color-box {
    padding: 16px 24px;
    border: 1px solid #d8d8d8;
    margin-top: 5px;
    position: relative; }
  .constructor__string .color-box__wrap .disable-block {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(204, 204, 204, 0.6);
    z-index: 5; }
    .constructor__string .color-box__wrap .disable-block_eyelet {
      display: block; }
    .constructor__string .color-box__wrap .disable-block_rubber {
      display: block; }
    .constructor__string .color-box__wrap .disable-block.active {
      display: none; }
  .constructor__string .color-box__wrap .disable .disable-block {
    display: block; }
  .constructor__string .box-wrap2 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 87px;
    margin-top: 16px; }
    .constructor__string .box-wrap2_padl {
      padding-left: 289px; }
      .constructor__string .box-wrap2_padl .inpbox {
        margin-left: 19px; }
    .constructor__string .box-wrap2 .inpbox:first-child {
      margin-left: 0; }

.nav-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px; }

.choice-block {
  margin-top: 2px; }

.choice__line {
  padding: 8px 0 7px 8px;
  background: #f1f1f1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-top: 2px;
  -webkit-transition: background .4s;
  transition: background .4s; }
  .choice__line:hover {
    background: #ffd382; }
  .choice__line:first-child {
    margin-top: 0; }
  .choice__line .inpbox {
    margin-left: 0; }

.choice-color {
  margin-top: 20px;
  margin-bottom: 20px; }
  .choice-color .inpbox-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 13px; }
  .choice-color .ad-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.line-text {
  margin-top: 11px;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border: 1px solid #d8d8d8;
  border-width: 1px 0 0px; }
  .line-text__line {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-bottom: 10px; }
    .line-text__line_dots {
      background: url(../img/dots.jpg) 0 16px repeat-x; }
    .line-text__line .desc {
      font-size: 16px;
      color: #000;
      font-weight: 500;
      background: #fff;
      padding-right: 5px; }
      .line-text__line .desc_bold {
        font-size: 17px;
        font-weight: 900; }
    .line-text__line .value {
      font-size: 19px;
      color: #dc143c;
      font-weight: 900;
      background: #fff;
      padding-left: 5px;
      border: none;
      height: auto;
      line-height: normal;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .line-text__line .value_black {
        font-size: 16px;
        font-weight: 500;
        color: #000; }
      .line-text__line .value input {
        max-width: 60px; }

.download-maket {
  padding: 10px 14px;
  background: #faf0e6; }
  .download-maket .t2 {
    font-size: 13px;
    color: #000;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 134px;
    margin: 10px auto 0 auto; }
    .download-maket .t2 i {
      font-size: 20px;
      color: #000;
      margin-right: 16px; }
    .download-maket .t2 span {
      border-bottom: 1px dashed #000; }

.comment {
  margin-top: 20px; }
  .comment .t1 {
    font-size: 16px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 500; }

.var-cover > div {
  display: none; }
  .var-cover > div:nth-child(1) {
    display: block; }

/*material__comb-wrap_2*/
.material__comb-wrap_2 > div {
  display: none; }
  .material__comb-wrap_2 > div:nth-child(1) {
    display: block; }

/*basis-comb-wrap*/
.basis-comb-wrap {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 10; }
  .basis-comb-wrap div {
    display: none; }
    .basis-comb-wrap div:first-child {
      display: block; }

/*firmware*/
.firmware {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  display: none; }
  .firmware-item {
    text-align: center; }

.top-nav {
  height: 61px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5px;
  border: 1px solid #7690c9;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .top-nav__count {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .top-nav__count span {
      margin-left: 5px; }
    .top-nav__count input {
      border: 1px solid #00557d;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      color: #000;
      font-weight: 500;
      font-size: 19px;
      padding-left: 4px;
      width: 72px; }
  .top-nav .blue-block {
    background: #7690c9;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    padding: 0 17px;
    position: relative;
    margin-left: 13px;
    margin-right: 31px; }
    .top-nav .blue-block:after {
      display: block;
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -16px;
      border: 16px solid transparent;
      border-left: 20px solid #7690c9; }
  .top-nav .blue-block:first-child {
    margin-left: 0px; }
  .top-nav .inpbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .top-nav .inpbox input {
      width: 74px;
      height: 32px;
      border: 1px solid #00557d;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: block;
      padding-left: 5px;
      font-size: 19px;
      color: #000; }
    .top-nav .inpbox label {
      font-size: 16px;
      color: #000;
      margin-left: 5px; }
  .top-nav .text {
    font-size: 17px;
    color: #000;
    font-weight: 500; }
    .top-nav .text .red {
      color: #dc143c;
      font-size: 19px;
      font-weight: 900; }
    .top-nav .text .red_ml {
      margin-left: 12px; }

.book-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px; }
  .book-navigation figure {
    text-align: center;
    cursor: pointer; }
    .book-navigation figure picture {
      display: block;
      position: relative; }
    .book-navigation figure figcaption {
      font-size: 13px;
      font-weight: 500;
      color: #000;
      margin-top: 6px; }
  .book-navigation .shear {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .book-navigation .hover {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
    .book-navigation .hover:hover {
      opacity: 1; }

.basis {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: none; }
  .basis:first-child {
    display: block; }
  .basis-comb {
    z-index: 10;
    display: none; }
    .basis-comb .basis-color img {
      height: 100%; }
  .basis_planing {
    z-index: 50;
    background: #fff; }
    .basis_planing .basis-color img {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -80.5px; }
    .basis_planing .basis-color__skin img {
      margin-top: -75px; }
  .basis_srez__item {
    display: none;
    height: 100%;
    position: relative; }
    .basis_srez__item img {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .basis_srez__item:first-child {
      display: block; }

.clishe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 25;
  text-align: center; }
  .clishe__item {
    text-align: center;
    display: none; }

.thread {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 25;
  display: none;
  text-align: center; }
  .thread__item {
    text-align: center;
    display: none; }

.eyelet {
  position: absolute;
  left: 0;
  top: 0;
  display: none; }
  .eyelet__item {
    text-align: center;
    z-index: 35;
    display: none; }
    .eyelet__item:first-child {
      display: block; }

.rubber {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  display: none; }
  .rubber__item {
    display: none;
    text-align: center; }
    .rubber__item:first-child {
      display: block; }
  .rubber__gallery {
    display: none;
    text-align: center; }
    .rubber__gallery:first-child {
      display: block; }

.color-box_disabled {
  opacity: .5;
  position: relative; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
