@font-face {
	font-family: 'Proxima Nova Rg';
	src: url(../fonts/ProximaNovaRegular.ttf);
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url(../fonts/opensanssemibold.ttf);
}

@font-face {
	font-family: 'Lato Black';
	src: url(../fonts/Lato-Black.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/ralewayblack.ttf);
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url(../fonts/OpenSans-Semibold.ttf);
}

.row {
	margin: 0;
}

body {
	font-family: 'Proxima Nova Rg';
	font-size: 19px;
	text-align: center;
	display: inline-block;
	max-width: calc(100% - 0px);
	overflow-x: hidden;
}

header,
main {
	text-align: left;
}

.header-top {
	background: #706d82;
}

.header-top .top-menu {
	line-height: 15px;
	font-family: 'Open Sans Light';
	font-size: 17px;
	text-align: center;
	/* width: 62.5%; */
	margin: auto;
}

.header-top .top-menu ul {
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: -56px;
}

.header-top .top-menu ul>li {
	display: inline-block;
	text-align: left;
	padding: 0px 25px;
	line-height: 46px;
}

.header-top .top-menu a,
.header-top .top-menu a:hover {
	color: #fff;
	cursor: pointer;
	font-family: 'Open Sans Light';
	float: left;
}

.header-top .top-menu li:before,
.header-top .top-menu li:hover::before {
	color: #fff;
	font-size: 20px;
	margin-left: 12px;
	margin-right: 12px;
	text-decoration: none;
	float: left;
}

.header-top .top-menu .call-at-home::before {
	font-family: 'FontAwesome';
	content: "\f0ad";
	font-weight: bold;
}

.header-top .top-menu .call-courier::before {
	font-family: 'FontAwesome';
	content: "\f183";
	font-weight: bold;
}

.header-top .top-menu .send-req::before {
	font-family: 'FontAwesome';
	content: "\f040";
	font-weight: bold;
}

.header-top .top-menu .call-back::before {
	font-family: 'FontAwesome';
	content: "\f2a0";
	font-weight: bold;
}

.header-midle {
	margin-top: 18px;
	margin-left: 46px;
	display: block;
	min-height: 123px;
	margin-bottom: -30px;
}

.header-midle .main-logo {
	text-decoration: none;
	display: inline-block;
	width: 300px;
	text-align: center;
	cursor: pointer;
}

.header-midle .list-midle {
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 123px;
	display: inline-block;
	width: 100% !important;
	margin-left: 7px;
}

.header-midle .list-midle>li {
	display: inline-block;
	float: left;
	min-height: 123px;
	line-height: 28px;
	vertical-align: bottom;
	height: 123px;
	float: left;
}

.header-midle .list-midle>li.right {
	float: right;
}

.header-midle .main-logo {
	margin: 0;
	background: url(../images/logo.png) no-repeat left top;
	width: 164px;
	height: 58px;
	padding-top: 70px;
}

.header-midle .main-logo h1 u {
	position: relative;
	top: -5px;
}

.header-midle .main-logo h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #ff5768;
	font-family: 'Raleway';
	text-indent: -18px;
	margin: auto;
}

.header-midle .header-site,
.header-midle .header-site:hover {
	cursor: default;
	text-decoration: none;
	display: inline-block;
	width: 390px;
	font-family: Raleway;
	text-align: center;
	height: 123px;
	overflow: hidden;
	border-radius: 10px;
	background: #ff5768;
	color: #fff;
	margin-left: 1.49px;
	float: left;
	/* margin: 0px 0px; */
}

.header-midle .header-site h2 {
	text-align: center;
	font-size: 33.4px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 18px;
	display: inline-block;
	text-indent: -2px;
	width: 100%;
}

.header-midle .header-site h3 {
	font-size: 32px;
	font-weight: normal;
	/* text-indent: -23px; */
	margin: 0px 0px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.header-midle .list-about-our {
	font-family: 'Open Sans Semibold';
	text-align: left;
	padding: 0px 35px;
	font-size: 20px;
	margin-left: 6px;
}

.header-midle .list-about-our>li {
	display: inline-block;
	margin-bottom: 16px;
}

.ico-stopwatch::before {
	display: inline-block;
	content: '';
	background: url(../images/v_1.png) no-repeat;
	width: 25px;
	height: 28px;
	margin: 0px 11px;
	vertical-align: middle;
}

.ico-calendar::before {
	display: inline-block;
	content: '';
	background: url(../images/v_2.png) no-repeat;
	width: 23px;
	height: 26px;
	margin: 0px 11px;
	vertical-align: middle;
}

.ico-purse::before {
	display: inline-block;
	content: '';
	background: url(../images/v_3.png) no-repeat;
	width: 24px;
	height: 27px;
	margin: 0px 11px;
	vertical-align: middle;
}

.header-midle .our-contacts {
	height: 100%;
	display: inline-block;
	padding: 0px 33px;
	font-family: 'Open Sans Light';
}

.header-midle .our-contacts h2 {
	margin: 0;
	font-size: 32px;
	font-family: 'Open Sans Semibold';
	line-height: 30px;
	margin-bottom: 15px;
	color: #FF5768;
}

.header-midle .our-contacts .order-call,
.header-midle .our-contacts .order-call:hover {
	display: block;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	color: #FF5768;
	font-size: 17px;
	line-height: 22px;
}

.header-midle .our-contacts .order-call span {
	text-decoration: underline;
	vertical-align: bottom;
}

.ico-call::before {
	content: "\f2a0";
	font-family: 'FontAwesome';
	margin: 0px 13px;
	vertical-align: bottom;
	display: inline-block;
	font-size: 20px;
}

.header-midle .our-contacts .our-adress {
	display: block;
	margin-top: 11px;
	font-size: 21px;
	text-align: right;
	font-family: 'Open Sans Light';
}

.header-bottom .main-menu {
	display: inline-block;
	margin: 10px auto;
	line-height: 37px;
	padding: 0px 32px;
	font-family: "Open Sans Semibold";
	font-size: 14.5px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}

.header-bottom .main-menu>li {
	display: inline-block;
	text-align: left;
	line-height: 37px;
	margin: 3px 14px;
	min-width: 170px;
	text-align: center;
	float: left;
	background: #ebebeb;
	transition: 0.2s;
	border-radius: 3px;
	overflow: hidden;
}

.header-bottom .main-menu>li:hover {
	background: #eb3c59;
	color: #fff;
}

.header-bottom .main-menu>li a,
.header-bottom .main-menu>li a:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.left-column {
	display: inline-block;
	vertical-align: top;
	width: 364.422px;
	padding: 0px 46px;
	float: left;
	min-height: 1px;
}

header>.delimiter {
	display: block;
	width: 100%;
	border: 1px solid #706d82;
	margin: 0.4px 0px;
}

main {
	margin-top: 28px;
}

.online-order {
	width: 100%;
	padding: 8px 20px;
	font-family: 'Open Sans Light';
	background: #e9f8d8;
	border-radius: 3px;
	border: 1px solid #cccccc;
	display: inline-block;
	vertical-align: top;
}

.online-order h2 {
	font-family: 'Proxima Nova Rg';
	padding: 0;
	text-align: center;
	line-height: 24px;
	margin: 9px 0px;
	font-size: 27px;
	text-indent: -2px;
	font-weight: normal;
}

.online-order .input {
	line-height: 38px;
	margin-bottom: 9px;
	padding: 0px 10px;
	border-radius: 3px;
	box-shadow: none;
	border: 1px solid #cccccc;
	font-size: 16px;
	display: block;
	margin-top: 7px;
}

.online-order .input-call {
	margin-bottom: 13px;
}

.online-order .list-problems {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0px 0px 4px 0px;
	vertical-align: top;
}

.online-order .list-problems>li {
	display: block;
	line-height: 22px;
	margin-bottom: 23.5px;
	font-size: 17px;
	padding: 0;
}

.online-order .list-problems .radio {
	display: inline-block;
	width: 24px;
	height: 24px;
	visibility: hidden;
	margin: 0;
	vertical-align: middle;
	overflow: hidden;
	margin: 0px 5px;
	margin-left: 2px;
}

.online-order .list-problems .radio::before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	visibility: visible;
	font-family: FontAwesome;
	color: #fff;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height: 24px;
	background: #fff;
	border: 1px solid #cccccc;
}

.online-order .list-problems .radio:checked::before {
	content: "\f00c";
	background: #c92945;
}

.online-order .input-submit {
	width: calc(100% + 14px);
	margin-left: -7px;
	line-height: 42px;
	display: inline-block;
	border: 0;
	border-radius: 5px;
	background: #ffed4d;
	position: relative;
	outline: none;
	margin-bottom: 3px;
	text-transform: uppercase;
	text-align: left;
	font-size: 18px;
	transition: 1s;
}

.online-order .input-submit:hover {
	background: #ffdb4d;
}

.online-order .input-submit::before {
	font-family: 'Glyphicons Halflings';
	content: '\e236';
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
}

.online-order .input-submit::after {
	content: '';
	display: inline-block;
	width: 97.2%;
	position: absolute;
	left: 1.4%;
	bottom: -3px;
	border-radius: 0px 0px 43px 43px;
	height: 3px;
	background: #c6ad3b;
	outline: 0px;
}

.main-column {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 365.5px);
	float: left;
	font-family: 'Proxima Nova Rg';
	font-size: 19px;
	text-align: justify;
	padding-right: 23px;
	font-weight: normal;
	min-width: 300px;
}

.main-column .header-page {
	margin: 0px 0px;
	line-height: 26px;
	margin-left: 7px;
	font-size: 35px;
	text-align: left;
}

.main-column>.desc {
	line-height: 1.215;
	margin: 17px 8px;
}

.main-top-elements {
	margin: 45px 0px;
}

#carousel-actions {
	width: 63.6%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	min-width: 300px;
}

#carousel-actions .carousel-inner {
	width: 87.5%;
	display: inline-block;
	min-height: 403px;
	box-shadow: 2px 0px 14px 0px rgb(204, 204, 204), 0px 0px 14px 0px rgb(204, 204, 204);
	border-radius: 5px;
}

#carousel-actions .carousel-control.left {
	background-image: none;
	width: 6.5%;
	background: url(../images/str_l.png) no-repeat 21% 49%;
}

#carousel-actions .carousel-control.right {
	background-image: none;
	width: 6.5%;
	background: url(../images/str_p.png) no-repeat 102% 49%;
}

#carousel-actions .carousel-control {
	color: #ec4762;
	text-shadow: none;
	opacity: 1;
}

#carousel-actions .carousel-inner .prew-img {
	height: 403px;
	max-width: 52%;
	display: inline-block;
	vertical-align: top;
	min-width: 300px;
}

#carousel-actions .carousel-inner .item {
	text-align: left;
	/* display: inline-block; */
}

#carousel-actions .carousel-inner .desc {
	display: inline-block;
	width: 38.1%;
	margin: 0px 35px;
	vertical-align: top;
	text-align: center;
	min-width: 192px;
}

#carousel-actions .carousel-inner .desc h2 {
	margin: 35px 0px 15px 0px;
	line-height: 1;
	text-align: left;
	font-size: 24px;
}

#carousel-actions .carousel-inner .desc .desc-text {
	line-height: 1.4;
	text-align: justify;
}

#carousel-actions .carousel-inner .desc .action {
	width: 100%;
	display: inline-block;
	margin-top: 19px;
	margin-bottom: 10px;
	line-height: 56px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-size: 22.5px;
	text-transform: uppercase;
	text-indent: 0;
	position: relative;
	background: #00c57c;
	color: #fff;
	transition: 1s;
	cursor: pointer;
}

#carousel-actions .carousel-inner .desc .action:hover {
	background: #00a367;
}

#carousel-actions .carousel-inner .desc .action::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 1.4%;
	bottom: -3px;
	width: 97.2%;
	border-radius: 0px 0px 10px 10px;
	height: 3px;
	background: #008000;
}

.main-column .here-our {
	display: inline-block;
	vertical-align: top;
}

.main-column .here-our h2 {
	margin: 0px 0px;
	font-size: 29px;
	line-height: 18px;
	margin-bottom: 19px;
}

.main-column .here-our p {
	line-height: 1.26315;
	/* margin-bottom: 17px; */
}

.main-top-elements>.right {
	display: inline-block;
	float: right;
	width: 32%;
	margin-right: 10px;
	padding-left: 10px;
}

.main-top-elements .shares {
	vertical-align: top;
	display: inline-block;
	width: 100%;
}

.main-top-elements .shares h2 {
	margin: 8px 0px;
	line-height: 42px;
	font-size: 29px;
	background: #ff5768;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.main-top-elements .shares .list-shares>li {
	display: inline-block;
	padding: 0;
	margin: 6.2px 0px;
	line-height: 1;
	width: 100%;
	font-family: Arial;
}

.main-top-elements .shares .list-shares {
	padding: 0;
	margin: 12px 0px;
	display: block;
}

.main-top-elements .shares .list-shares>li a {
	vertical-align: bottom;
	text-decoration: underline;
	cursor: pointer;
	color: #0091d9;
}

.main-top-elements .shares .list-shares>li a:hover,
.main-top-elements .shares .list-shares>li a:visited {
	text-decoration: none;
	color: #0091d9;
}

.main-column h2 {
	font-size: 35px;
	/* margin: 0px 0px; */
	margin-left: 6px;
	text-align: left;
}

.tizzers-our-clients .list-tizzers {
	padding: 40px 10px;
	margin: 13px 0px;
	width: calc(100% + 19px);
	/* padding-left: 12px; */
	display: inline-block;
	background: #ffefd2;
	padding-bottom: 37px;
	margin-bottom: 5px;
	margin-left: 8px;
	padding-bottom: 40px;
	/* text-align: -webkit-auto; */
	padding-left: 49px;
}

.tizzers-our-clients .list-tizzers li {
	text-align: center;
	overflow: hidden;
	/* line-height: 112px; */
	outline: none;
	height: 56px;
	line-height: 56px;
	cursor: -webkit-grab;
}

.tizzers-our-clients .list-tizzers li:active {
	cursor: -webkit-grabbing;
}

.tizzers-our-clients .list-tizzers li img {
	margin: 0px auto;
	display: inline-block;
	vertical-align: middle;
}

.tizzers-our-clients .list-tizzers .slick-list {
	margin: auto 59px;
}

.tizzers-our-clients .list-tizzers .slick-track {
	/* display:inline-block; */
}

.tizzers-our-clients .slick-list {
	padding: 0px 2px;
}

.tizzers-our-clients .list-tizzers::before,
.tizzers-our-clients .list-tizzers::after {}

.tizzers-our-clients .list-tizzers>li {
	display: inline-block;
	text-align: center;
	/* line-height: 103px; */
	vertical-align: middle;
	width: auto;
	padding: 0px;
	margin: 0px 37px;
	float: left;
	height: 60px;
}

.tizzers-our-clients .list-tizzers>li.gasprombank {
	margin: 0px 22px 0px 0px;
}

.tizzers-our-clients .list-tizzers>li.sberbank {
	margin: 0px 51px;
}

.tizzers-our-clients .list-tizzers>li.drweb {}

.tizzers-our-clients .list-tizzers>li.BissnesWorld {
	margin: 0px 41px;
}

.tizzers-our-clients .list-tizzers>li.VTB24 {
	margin: 0px 62px;
}

.tizzers-our-clients .list-tizzers>li.lukoil {
	margin: 0px 0px 0px 43px;
}

.tizzers-our-clients .list-tizzers>li::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.tizzers-our-clients .list-tizzers>li:nth-of-type(1) {
	/* padding-left: 20px; */
	/* margin-left: 0px; */
	/* max-width: 136px; */
	/* text-align: left; */
}

.tizzers-our-clients .list-tizzers>li:nth-last-of-type(1) {
	text-align: right;
	max-width: 142px;
}

.tizzers-our-clients .list-tizzers>li>img {
	/* width:100%; */
	vertical-align: middle;
	display: inline-block;
}

.tizzers-our-clients {
	text-align: center;
}

.tizzers-our-clients>h2 {
	text-align: left;
}

.our-personal {
	display: inline-block;
	vertical-align: top;
}

.our-personal>h2 {
	text-align: center;
	margin: 43px 0px 26px 0px;
	font-size: 29px;
	text-indent: 9px;
}

.our-personal>.list {
	padding: 0;
	text-align: center;
}

.our-personal>.list .desc>h2 {
	font-family: 'Open Sans Semibold';
	font-size: 17px;
	margin: 0px 0px;
	text-indent: -7px;
}

.our-personal>.list>li>a {
	color: #000;
}

.our-personal>.list>li {
	display: block;
	margin-bottom: 34px;
}

.our-personal>.list>li>a>img {
	display: inline-block;
	vertical-align: top;
}

.our-personal>.list>li>a>.desc {
	display: inline-block;
	vertical-align: top;
}

.our-personal>.list>li>a>.desc>.privew-text {
	font-family: 'Open Sans Light';
	font-size: 15px;
	margin: 5px auto;
	width: 72%;
	line-height: 1.2;
	text-align: left;
}

.our-service>.list {
	padding: 0px 10px;
	margin-left: -27px;
	width: calc(100% + 0px);
	margin-top: 20px;
	display: inline-block;
}

.our-service>.list>li {
	display: inline-block;
	padding: 0px 10px;
	margin-bottom: 37px;
	min-width: 277px;
}

.our-service>.list>li>.desc {
	width: 100%;
}

.our-service>.list>li>.desc>h3 {
	margin: 12px 14px;
	margin-bottom: 13px;
	vertical-align: bottom;
	display: inline-block;
	width: calc(100% - 28px);
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}

.our-service>.list>li>.desc>.cost {
	line-height: 27px;
	vertical-align: bottom;
	/* display: inline-block; */
	font-size: 24px;
	margin: 0px 13px;
	margin-top: -3px;
	line-height: 31px;
	white-space: nowrap;
	text-align: left;
}

.our-service>.list>li>.desc>.cost>.value {
	font-family: 'Lato Black';
	font-size: 32px;
	/* line-height: 1.1875; */
}

.our-service>.list>li>.desc>h3>a,
.our-service>.list>li>.desc>h3>a:hover {
	text-decoration: underline;
	color: #0091d9;
	cursor: pointer;
}

.ico-comment::after {
	font-family: 'FontAwesome';
	content: '\f0e5';
	text-align: center;
	padding: 0px 18px;
	position: relative;
	top: -5px;
	display: inline-block;
	color: #ffd835;
}

.ico-sale::before {
	content: '\f02c';
	font-family: 'FontAwesome';
	margin-right: 9px;
	color: #ffd835;
	vertical-align: bottom;
	display: inline-block;
	margin-bottom: 2px;
}

.our-service .list .carousel-control.left {
	background: url(../images/str_left.png) no-repeat 50%;
	opacity: 1;
	z-index: 1;
}

.our-service .list .carousel-control.right {
	background: url(../images/str_ra.png) no-repeat 50%;
	opacity: 1;
	z-index: 1;
}

.our-service .list .carousel .carousel-inner .item::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/fonsf.png);
	font-family: 'Glyphicons Halflings';
	text-align: center;
	line-height: 237px;
	color: #ffd835;
	font-size: 49px;
	transform: scale(0);
	transition: 0.5s ease;
	cursor: pointer;
	background-size: 100% 100%;
	z-index: 52;
}

.our-service .list .carousel .carousel-inner .item:hover::after {
	transform: scale(1);
}

.our-service {
	text-align: center;
	width: calc(100% + 22px);
}

.our-service .list .carousel .carousel-inner img {
	width: 100%;
}

.main-modal-imgs .main-section-modal>img {
	transform: scale(2);
	max-width: 50vw;
	max-height: calc(50vh - 50px);
}

.our-guarantees>h2 {
	font-size: 29px;
	text-align: center;
}

.our-guarantees>.list>li {
	display: block;
	margin: 9px 0px;
	padding: 11px 32px 16px 49px;
	line-height: 1.4117646026;
	background: url(../images/ok_p.png) no-repeat 10px 50% #0af;
	color: #fff;
	border-radius: 9px;
}

.our-guarantees>.list>li b {
	font-size: 21px;
	line-height: 1.1;
}

.our-guarantees>.list {
	padding: 0;
	width: calc(100% + 48px);
	position: relative;
	left: -19px;
	font-size: 17px;
	font-family: 'Open Sans Semibold';
	margin-top: 29px;
}

.service-cost>h2 {
	margin: 0;
	text-indent: 9px;
}

table
{
    width: calc(100% - 17px);
    margin: 18px 6.5px;
}
table thead
{
    font-family: 'Open Sans Semibold';
    font-size: 21px;
}
table thead tr
{
    background:#fff4e0;
}
table tr:hover
{
    background:#ffefd2;
    cursor:pointer;
}
table tbody
{
    font-size: 21px;
    font-family:'Proxima Nova Rg';
    line-height: 51px;
}
table td
{
    text-align: left;
    padding: 10px 25px;
    line-height: 39px;
    position: relative;
    top: -2px;
}
table tbody td
{
    line-height: 36.8px;
    font-size: 21px;
}
table tr
{
    /*border:1px solid;*/
    box-shadow: inset 0px 0px 0px 1px #cccccc;
}
table tbody tr
{
    box-shadow: inset 0px 0px 0px 1px #cccccc,inset 1px 0px 0px 1px #cccccc, inset -1px 0px 0px 1px #cccccc;
}
table tbody tr:last-child
{
    box-shadow:  inset 0px 0px 0px 1px #cccccc,inset 1px 0px 0px 1px #cccccc, inset -1px 0px 0px 1px #cccccc, inset 0px -1px 0px 1px #cccccc;
}
table.tbl-col4 tr td:nth-of-type(1)
{
    /* padding-left: 25px; */
    width: 21.0%;
    vertical-align: middle;
    /* height: 56px; */
}
table tbody tr:nth-of-type(2n) td:first-child
{font-size: 20px;}
table.tbl-col4 tr td:nth-of-type(2)
{
    /* width: 6%; */
    text-align: center;
    padding: 0;
}
table.tbl-col4 tr td:nth-of-type(3)
{
    /* width: 26.2%; */
    text-align: center;
    padding:0;
}
table.tbl-col4 tr td:nth-of-type(4)
{
    /* width: 26.5%; */
    text-align: center;
    padding-left: 0;
    padding-right: 19px;
}
table.tbl-col4 tbody tr td:nth-of-type(1)
{
    padding-left: 25px;
    vertical-align: middle;
    /* height: 56px; */
}
table.tbl-col4 tbody tr td:nth-of-type(2)
{
    /* width: 22.6%; */
    text-align: center;
}
table.tbl-col4 tbody tr td:nth-of-type(3)
{/* width: 22.35%; */}
table tr td:last-child
{
}
.our-repair .wrap-list
{
    width:100%;
    text-align:center;
    background: #fff4e0;
    /* padding: 0px 50%; */
    display: inline-block;
}
.our-repair>h2
{
    text-align:center;
    margin: 51px 0px 34px 0px;
    text-indent: 23px;
}
.our-repair .list
{text-align: center;/* margin: 2px 8px; *//* padding: 12px 160px; *//* width: 96%; */display: inline-block;padding: 0;margin: auto;}
.our-repair .list::before
{
    /* content:''; */
    /* display: table; */
}
.our-repair .list>li
{
    display:inline-block;
    vertical-align:bottom;
    float:left;
    text-align: center;
    width: 240px;
    height: 223px;
    padding: 0px 10px 0px 6px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.our-repair .logo-manufacture
{
    display: block;
    width: 100%;
    line-height: 66px;
}
.our-repair .logo-manufacture::before
{
    /* content:''; */
    /* display:inline-block; */
    /* height:100%; */
    /* vertical-align:middle; */
}
.our-repair .logo-manufacture>img
{
    display:inline-block;
    vertical-align:middle;
}
.our-repair .desc
{padding: 7px 22px 0px 25px;font-size: 15px;font-family: 'Open Sans Light';display: inline-block;text-align: left;line-height: 1.15;min-height: 92px;}
.our-repair .list>li:nth-of-type(n+5) .desc
{
    padding: 0px 22px 0px 25px;
    line-height: 1.2;
} 
.our-repair li:nth-of-type(n+5) .ref
{
    margin: 0;
    line-height: 21px;
    text-decoration: underline;
}
.our-repair li:nth-of-type(n+9)
{
    border-bottom:0;
    /* height: 217px; */
}
.our-repair .list>li:nth-of-type(4n+1)
{
    width: 244px;
    padding: 0px 19px 0px 13px;
    clear: both;
}
.our-repair .list>li:nth-of-type(n+5) .logo-manufacture
{
    line-height: 81px;
}
.our-repair .list>li:nth-of-type(4n-1)
{
    width: 244px;
}
.our-repair .list>li:nth-of-type(4n)
{
    border-right: 0;
    width: 233px;
}
.our-repair .ref
{
    margin: 5px 0px;
    display: block;
    color: #0091D9;
    text-decoration: underline;
    font-family: 'Arial';
    font-size: 19px;
    text-indent: 6px;
    /* font-weight: bold; */
}
.our-reviews h2
{
    text-align:center;
    margin:0px 0px;
    text-indent: 6px;
    margin-top: 11px;
}
.slick-prev
{
    height:100%;
    position:absolute;
    top:0px;
    z-index: 1;
    outline: none;
    border: 0;
    background: url(../images/str_l.png) no-repeat 50%;
    padding: 0;
    left: 21px;
    width:40px;
    cursor: pointer;
    z-index: 4;
}
.slick-next
{
    height:100%;
    position:absolute;
    top:0px;
    z-index: 1;
    outline: none;
    border: 0;
    background: url(../images/str_p.png) no-repeat 50%;
    padding: 0;
    right: 36px;
    display: inline-block;
    width: 40px;
    cursor:pointer;
}
.our-reviews .list
{padding: 36px 55px;margin-left: 16px;}
.our-reviews .list li
{
    margin: 0px 30px;
    height: 408px;
    border: 3px solid #ffd835;
    cursor:-webkit-grab;
    position: relative;
    text-align:center;
}
.our-reviews .list li img
{
    height:100%;
    display:inline-block;
}
.our-reviews .list li:hover::before
{
    transform:scale(1.0);
}
.our-reviews .list li::before
{
    content:'';
    display:inline-block;
    position:absolute;
    z-index: 2;
    left:0;
    top:0;
    background:url(../images/otz.png) no-repeat;
    width:100%;
    height:100%;
    transition:0.5s;
    transform:scale(0);
    background-size: 100% 100%;
}
.our-reviews .list .slick-list
{
    left: -9px;
}
.our-reviews .list-controls>li
{
    display:inline-block;
    width:15px;
    height:15px;
    border:2px solid #ccc;
    border-radius:50%;
}
.our-reviews .list li:active,
.our-reviews .list li:focus
{
    outline:none;
}
.our-reviews .list li:active
{
    cursor:-webkit-grabbing;
}
.our-reviews .list-controls
{
    padding:0px;
    text-align:center;
}
.our-reviews .list-controls>li.active
{
    background:#b30a1a;
    border:0;
}
.ask-question
{
    margin: 52px auto 0px auto;
    display: inline-block;
    width: 100%;
    padding: 0px 0px 56px 14px;
    text-align:center;
    background:#d7e5fc;
}
.ask-question>.wrap
{
    width: 62%;
    text-align: left;
    margin:0px auto;
    padding: 0px 4px;
}
.ask-question h2
{
    margin: 50px 0px 20px 0px;
    text-align: left;
    font-size: 35px;
}
.ask-question .col-left
{
    display: inline-block;
    vertical-align: top;
    width: 70.6%;
    font-family: 'Open Sans Light';
    font-size: 17px;
}
.ask-question .col-left>p
{
    line-height: 1.3;
    margin: 0;
    min-height: 74px;
}
.ask-question .text-msg
{
    width: 100%;
    height: 135px;
    border-radius: 5px;
    font-family: "Open Sans Light";
    font-size: 20px;
    padding: 5px 10px;
    resize: vertical;
    border: 1px solid #a9a9a9;
}
.ask-question .text-msg:focus
{
    /* outline-offset: 52px; */
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: none;
    border-color: #66AFE9;
}
.ask-question .col-right
{
    display: inline-block;
    vertical-align: top;
    width: 28%;
    text-align: center;
    min-width: 283px;
}
.ask-question .input-call-number
{
    border: 0px solid;
    padding-left: 54px;
    padding: 4px 4px 4px 54px;
    margin: 0px -3px 0px 0px;
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Open Sans Light';
}
.ask-question .input-call-number:focus
{
     box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: none;
    border-color: #66AFE9;
}
.ask-question .wrpap-input-call
{
    margin: 74px auto 18px auto;
    width: 90.2%;
    line-height: 49px;
    position:relative;
    height: 50px;
    overflow: hidden;
    padding-left: 10px;
}
.ask-question .wrpap-input-call::before
{
    content:"\f095";
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
    width: 50px;
    height: 100%;
    font: normal normal normal 30px/1 FontAwesome;
    line-height: 49px;
    color: #ccc;
    padding-left: 27px;
}
.ask-question .btn-submit
{
    width: 88.0%;
    height: 64px;
    margin-left: 12px;
    position: relative;
    border-radius: 4px;
    box-shadow: none;
    border: 0;
    background: #00c57c;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    transition:0.8s;
}
.ask-question .btn-submit:hover
{
    background:#00a367;
}
.ask-question .btn-submit .text
{
    display: inline-block;
    position: relative;
    top: -2px;
}
.ask-question .btn-submit::before
{
    content:'';
    display:inline-block;
    width: calc(100% - 8px);
    position: absolute;
    bottom: -4px;
    height: 4px;
    left: 4px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    background: #008000;
}
.we-on-map h2
{
    margin: 44px 0px 25px 0px;
    font-size: 35px;
    text-indent: -12px;
}
.we-on-map .wrap-map
{
    width:100%;
    display:inline-block;
    height: calc(100% - 63px);
}
.we-on-map
{
    height: 567px;
}
.we-on-map .wrap-map>.map
{
    float:left;
    height: 100%;
    width: 100%;
}
.footer-logo
{

}
.footer-logo>h1
{

}
.footer-logo
{min-width: 300px;}
.footer-logo>h1
{
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 39px 0px 0px 0px;
    font-family: 'Open Sans Semibold';
}
.footer-menu .left-column
{padding: 0px 0px 0px 27px;text-align: left;float: left;}
.footer-menu .our-contacts
{
    font-family:'Open Sans Semibold';
}
.footer-menu .our-contacts h2
{
    font-size:27px;
    margin: 12px 0px 9px 5px;
}
.footer-menu .our-contacts .our-adress,
.footer-menu .our-contacts .our-time-work
{
    font-family: 'Open Sans Light';
    font-size: 17px;
    line-height: 1.85;
    margin: 0px 2px;
}
.footer-menu .socials
{}
.footer-menu .socials h2
{
    margin: 47px 0px 13px 1px;
    font-family: 'Open Sans Light';
    font-size: 17px;
}
.footer-menu .socials a,
.footer-menu .socials a:hover
{
    cursor:pointer;
    display:inline-block;
    height: 24px;
    width: 51px;
    margin-right: 5px;
    padding: 5px 4px;
    text-align:center;
    font-size: 15px;
    line-height: 13px;
    vertical-align: bottom;
    float: left;
    border-radius: 6px;
    color: #fff;
    text-decoration:none;
    margin-bottom: 5px;
}
.footer-menu .socials a::before
{
    font-family:'FontAwesome';
}
.footer-menu .socials a.vk::before
{
    content:"\f189";
}
.footer-menu .socials a.fb::before
{
    content:"\f082";
}
.footer-menu .socials a.vk
{
    background:#48729e;
}
.footer-menu .socials a.fb
{
    background:#3c5a98;
}
.footer-menu .socials a .count
{
    margin:0px 3px;
}
.footer-menu .socials a.tweeter::before
{
    content:"\f099";
}
.footer-menu .socials a.tweeter
{
    background:#00aced;
}
.footer-menu .socials a.ok::before
{
    content:"ok";
    font-family:'Open Sans Light';
}
.footer-menu .socials a.ok
{
    background:#ff9f4d;
}
.footer-menu .socials a.mail::before
{
    content:"@";
    font-family:'Open Sans Light';
    color:#e2985a;
    font-weight:bold;
}
.footer-menu .socials a.mail
{
    background:#226eb7;
}
.footer-menu .socials a.gmail::before
{
    content:"\f0d5";
}
.footer-menu .socials a.gmail
{
    background:#c25234;
}
.footer-menu .center-column
{
    display:inline-block;
    vertical-align:top;
    width: 49%;
    float: left;
    margin: 0px 0px 0px 208px;
    padding: 0px 22px;
}
.footer-menu .center-column ul
{
    padding:0;
    margin: 0;
}
.footer-menu .center-column li
{
    display:block;
    text-align: left;
    padding: 0px 35px;
    line-height: 31.5px;
    font-family: 'Open Sans Semibold';
    font-size: 17px;
}
.footer-menu .center-column h3
{margin: 36px 0px 16px 0px;display: inline-block;width: 100%;text-align: left;padding: 0px 34px;font-family: 'Open Sans Semibold';font-size: 19px;}
.footer-menu .center-column .wrap-item
{
    margin: 0px 0px 0px 0px;
    float: left;
    min-width: 255px;
}
.footer-menu .center-column .col-md-4
{
    min-width:255px;
}
.footer-menu .center-column .wrap-item + .wrap-item h3
{
    margin: 29px 0px 16px 0px;
}
.footer-menu .right-column
{
    display:inline-block;
    float: right;
    text-align: center;
    width: 159px;
    position: relative;
    top: 351px;
}
.footer-menu .ya-metrika
{display: inline-block;}
.footer-after-rules
{
    float:left;
    clear:both;
    margin: 30px 0px 0px 27px;
    font-size: 15px;
    font-family: 'Open Sans Light';
}
.footer-menu
{
    background:#5d5a78;
    display:inline-block;
    width:100%;
    border-radius:0;
    float:left;
    color:#fff;
}

@media(min-width:2000px) {
	.our-repair .list>li:nth-of-type(n) {
		clear: none;
	}
}

@media(max-width:1919px) {
	.our-repair>.list>li {
		border: 1px solid #ccc;
		margin: 3px 0px;
		height: 240px
	}
	.our-repair .list>li:nth-of-type(n+5) .desc {
		padding: 0px 22px 0px 25px;
		line-height: 1.2;
	}
	.our-repair li:nth-of-type(n+5) .ref {
		margin: 0;
		line-height: 21px;
		text-decoration: underline;
	}
	.our-repair li:nth-of-type(n+9) {
		border-bottom: 0;
		/* height: 217px; */
	}
	.our-repair .list>li:nth-of-type(4n+1) {
		width: 240px;
		padding: 0px 19px 0px 13px;
	}
	.our-repair .list>li:nth-of-type(n+5) .logo-manufacture {
		line-height: 81px;
	}
	.our-repair .list>li:nth-of-type(4n-1) {
		width: 240px;
	}
	.our-repair .list>li:nth-of-type(4n) {
		border-right: 1px solid #ccc;
		width: 240px;
	}
	.our-repair .list>li {
		/* float:none; */
		border: 1px solid #ccc;
		width: 240px;
		height: 233px;
		/* margin-bottom: 5px; */
	}
}

@media(max-width:1870px) {
	.tizzers-our-clients .list-tizzers>li {
		margin: 0px 5%!important;
		float: none;
		min-width: 180px;
	}
	.tizzers-our-clients .list-tizzers {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media(max-width:1599px) {
	.ask-question .col-left {
		width: calc(100% - 306px);
	}
	.ask-question .col-right {
		width: 300px;
	}
	.ask-question .wrpap-input-call,
	.ask-question .btn-submit {
		/* width:100%; */
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		max-width: 300px;
	}
	.ask-question>.wrap {
		margin: 0px;
		padding: 0;
		width: 100%;
	}
}

@media (max-width: 1580px) {
	.header-bottom .main-menu>li {
		float: none;
	}
	.header-midle .list-midle>li {
		display: inline-block;
		/* float: none; */
		min-height: 123px;
		line-height: 28px;
		vertical-align: bottom;
	}
	.header-midle .list-midle>li.right {
		float: none;
	}
	.header-midle .list-midle>li {
		margin: 10px 0px;
	}
	.header-midle .list-midle {
		/* padding: 0px 13%; */
	}
}

@media(max-width:1646px) {
	.footer-menu .center-column {
		margin: 0;
		padding: 0;
		min-width: 770px;
	}
}

@media(max-width:1582px) {
	.header-midle .list-about-our,
	.header-midle .our-contacts {
		padding: 0px 10px;
	}
	/* .header-midle .main-logo, .header-midle .main-logo:hover
    {
        width: 250px;
    }*/
	.header-midle .header-site,
	.header-midle .header-site:hover {
		width: 210px;
		margin: 0px 10px;
	}
	.list-about-our>li::before {
		margin-left: 0;
	}
	.header-midle .header-site h2 {
		font-size: 19px
	}
	.header-midle .header-site h3 {
		font-size: 18px;
	}
}

@media(max-width:1512px) {
	.our-service>.list>li {
		/* width: 24px; */
	}
	.our-service>.list {
		padding: 0;
	}
	.our-service>.list>li>.desc>h3 .ico-comment::after {
		padding: 5px 0px;
	}
	.header-midle .our-contacts {
		padding: 0px 24px;
		margin: auto;
		display: block;
		width: 326px;
	}
}

@media(max-width:1450px) and (min-width:1301px) {
	.our-reviews .list li {
		height: 320px;
	}
}

@media(max-width:1200px) and (min-width:1108px) {
	.our-reviews .list li {
		height: 363px;
	}
}

@media(max-width:1107px) and (min-width:945px) {
	.our-reviews .list li {
		height: 637px;
	}
}

@media(min-width:1451px) and (max-width:1567px) {
	.our-reviews .list li {
		height: 340px;
	}
}

@media(max-width:1371px) {
	.our-repair .list>li:nth-of-type(4n+1) {
		clear: none;
	}
}

@media(max-width:1350px) {
	.our-repair .list>li:nth-of-type(3n+1) {
		clear: left;
	}
}

@media(max-width:1328px) {
	.header-midle .header-site h2 {
		font-size: 1em;
		margin-top: 35px;
	}
	.header-midle .header-site h3 {
		font-size: 0.9em;
		text-indent: 0;
	}
	.header-midle .header-site,
	.header-midle .header-site:hover {
		/* width: calc(100% + 5px); */
		/* margin: 0px 0px; */
	}
}

@media(max-width:1300px) {
	.footer-menu .center-column {
		clear: both;
	}
}

@media(max-width:1202px) {
	.header-midle .list-midle {
		/* padding: 0px 18%; */
		/* text-align: left; */
	}
}

@media(min-width:768px) and (max-width:1500px) {
	.our-service>.list>li>.desc>h3 {
		font-size: 14px;
		position: relative;
		width: 100%;
	}
	.our-service>.list>li>.desc>h3::after {
		padding: 0px 0px;
		position: absolute;
		left: 120px;
	}
	.our-service>.list>li>.desc>.cost {
		font-size: 14px;
	}
	.our-service>.list>li>.desc>.cost>.value {
		font-size: 15px;
	}
	.our-service>.list>li {
		min-width: 0px;
	}
}

@media(max-width:1175px) {
	.header-midle .list-midle {
		/* padding:0px 17%; */
	}
}

@media(max-width:1425px) {
	.header-midle .our-contacts h2 {
		font-size: 30px;
	}
	.header-midle .list-about-our {
		font-size: 14px;
	}
	.header-midle .our-contacts .our-adress {
		font-size: 16px;
	}
}

@media(max-width:1173px) {
	table thead {
		font-size: 15px;
	}
}

@media(max-width:971px) {
	table thead {
		font-size: 10px;
	}
	table tbody td {
		font-size: 9px
	}
}

@media(max-width:1135px) {
	.header-midle .list-midle {
		/* padding:0px 16%; */
	}
}

@media(max-width:1120px) {
	.our-repair .list>li:nth-of-type(3n+1) {
		clear: none;
	}
	.our-repair .list>li:nth-of-type(2n+1) {
		clear: both;
	}
}

@media(max-width:1100px) {
	.header-midle .list-midle {
		/* padding:0px 15%; */
	}
}

@media(max-width:1084px) {
	.header-midle .main-logo h1 {
		font-size: 39px;
	}
	.header-midle .main-logo h3 {
		font-size: 16px;
	}
	/*.header-midle .main-logo, .header-midle .main-logo:hover
    {
        width:auto;
    }*/
}

@media(max-width:1074px) {
	.header-midle .list-midle {
		/* padding: 0px 14%; */
		/* text-align: left; */
	}
}

@media(max-width:1042px) {
	.header-midle .list-midle {
		/* padding: 0px 13%; */
		/* text-align: left; */
	}
}

@media(max-width:1016px) {
	.header-midle .list-midle {
		/* padding: 0px 12%; */
		/* text-align: left; */
	}
}

@media (max-width:1055px) {
	#carousel-actions,
	.main-top-elements>.right {
		width: 100%;
	}
}

@media (max-width:1726px) {
	#carousel-actions .carousel-inner .desc {
		width: calc(100% - 20px);
		margin: 0px 10px;
	}
	#carousel-actions .carousel-inner .prew-img {
		max-width: 100%;
	}
	#carousel-actions .carousel-inner .item {
		text-align: center;
	}
}

@media (max-width:1440px) {
	.header-midle .our-contacts .our-adress {
		font-size: 16px;
	}
	.header-midle .list-about-our,
	.header-midle .our-contacts {
		font-size: 15px;
	}
	.header-midle .list-about-our>li {
		margin-bottom: 8px;
		margin-right: 30px;
	}
	.header-midle .header-site,
	.header-midle .header-site:hover {
		width: 360px;
	}
}

@media(min-width:1000px) {
	.service-cost table thead td:nth-of-type(1) {
		white-space: nowrap;
	}
}

@media(max-width:998px) {
	.footer-menu .col-md-4 {
		float: none;
		display: inline-block;
		vertical-align: top;
		width: 255px;
	}
	.footer-menu .center-column {
		text-align: left;
	}
	.footer-menu .right-column {
		top: 0;
		vertical-align: bottom;
		/* float:none; */
		clear: both;
	}
}

@media(max-width:997px) {
	.header-midle .list-midle {
		/* padding: 0px 11%; */
		/* text-align: left; */
	}
}

@media(max-width:962px) {
	.header-midle .list-midle {
		/* padding: 0px 10%; */
		/* text-align: left; */
	}
}

@media(max-width:937px) {
	.header-midle .list-midle {
		/* padding: 0px 9%; */
		/* text-align: left; */
	}
}

@media(max-width:916px) {
	.header-midle .list-midle {
		/* padding: 0px 8%; */
		/* text-align: left; */
	}
}

@media(max-width: 950px) and (min-width:585px) {
	.header-midle .list-midle>li:nth-of-type(3),
	.header-midle .list-midle>li.item-3 {
		width: 100%;
		margin: auto;
		display: block;
	}
	.header-midle .list-midle>li:nth-of-type(1) {
		margin: auto;
		width: 100%;
		display: block;
	}
}

@media(max-width:895px) {
	.header-midle .list-midle {
		padding: 0px 6.2%;
		/* text-align: left; */
	}
}


/*@media(max-width: 903px)
{
    .our-repair .list>li
    {
        float:none;
    }
}*/

@media(max-width:886px) {
	.our-repair .list>li:nth-of-type(n) {
		clear: both;
	}
}

@media(max-width:860px) {
	.header-midle .list-midle {
		padding: 0px 4.2%;
		/* text-align: left; */
	}
}

@media(max-width:822px) {
	.header-midle .list-midle {
		padding: 0px 2.3%;
		/* text-align: left; */
	}
}

@media(max-width:788px) {
	.header-midle .list-midle {
		padding: 0px 0.2%;
		/* text-align: left; */
	}
}

@media(max-width:788px) {
	.header-midle .list-midle {
		padding: 0px 0%;
		/* text-align: left; */
	}
}

@media(max-width:770px) {
	.footer-menu .center-column {
		min-width: 100%;
	}
}

@media(max-width: 680px) {
	.our-repair .list>li {
		float: left;
	}
}

@media(max-width:658px) {
	.ask-question .col-left,
	.ask-question .col-right {
		width: 100%;
	}
}

@media (max-width:600px) {
	.header-midle .list-midle>li {
		height: auto;
	}
}

@media(max-width:585px) {
	.header-midle .list-midle>li:nth-of-type(n) {
		float: none;
	}
}

@media(max-width:522px) {
	.our-repair .list>li {
		/* float:none; */
	}
}

@media(max-width:514px) {
	.footer-menu .center-column {
		text-align: center;
	}
}

@media (max-width:490px) {
	.header-midle .list-midle {
		margin: 0;
	}
	.header-midle .our-contacts h2 {
		font-size: 20px;
	}
	.header-midle .header-site,
	.header-midle .header-site:hover {
		cursor: default;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		font-family: Raleway;
		text-align: center;
		height: 123px;
		overflow: hidden;
		border-radius: 10px;
		background: #ff5768;
		color: #fff;
		margin-left: 1.49px;
		float: left;
		max-width: 100%;
		margin: 0;
	}
	.header-midle .header-site h2 {
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 18px;
		text-indent: -2px;
	}
	.header-midle .header-site h3 {
		font-size: 15px;
		font-weight: normal;
		text-indent: 0;
		margin: 34px 0px;
	}
	.header-midle .list-midle>li {
		width: 100%;
	}
}

@media (max-width:680px) {
	.left-column {
		width: 100%;
	}
	.main-column {
		width: 100%;
	}
	.our-repair .list>li:nth-of-type(n) {
		clear: none;
	}
	.our-repair .list>li:nth-of-type(2n+1) {
		clear: both;
	}
}

@media(max-width:550px) {
	.our-reviews .list {
		padding: 0;
	}
	.our-repair .list>li:nth-of-type(n) {
		clear: both;
	}
}

@media (max-width:335px) {
	.left-column {
		padding: 0;
	}
}

@media(max-width:360px) {
	#carousel-actions .carousel-inner .desc .action {
		font-size: 14px;
	}
}

@media(max-width:300px) {
	body {
		overflow: auto;
	}
}

@media(max-width:900px) {
	table.tbl-col4 thead,
	table tbody tr:nth-of-type(2n) td:first-child {
		font-size: 12px;
		line-height: 1;
	}
	table.tbl-col4 tbody td {
		font-size: 12px;
		line-height: 1;
	}
}

@media(max-width:350px) {
	table.tbl-col4 thead,
	table tbody tr:nth-of-type(2n) td:first-child {
		font-size: 10px;
		line-height: 1;
	}
	table.tbl-col4 tbody td {
		font-size: 10px;
		line-height: 1;
	}
}

.item-4 {
	float: right !important;
	text-align: right;
	margin-top: -5px !important;
}

.item-1 {
	width: 150px;
	margin-top: -5px !important;
}

.header-midle .list-midle {
	margin-bottom: -30px;
}

@media(max-width: 1380px) and (min-width:1321px) {
	.header-midle .list-about-our>li {
		margin-right: 8px;
	}
}

@media(max-width: 1320px) and (min-width:300px) {
	.header-midle .list-about-our {
		margin-top: -20px;
	}
	.header-midle .list-about-our>li {
		display: block;
		font-size: 15px;
	}
	.header-midle .list-midle {
		margin-bottom: 0px;
	}
}

@media(max-width: 1612px) and (min-width: 1441px) {
	.header-midle .list-about-our,
	.header-midle .our-contacts {
		font-size: 15px;
	}
}

@media(max-width: 950px) and (min-width:300px) {
	.header-midle .list-about-our>li {
		display: inline-block;
	}
}


/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}