@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {margin: 0px; padding: 0px;  outline: none; box-sizing: border-box;}
.same_rooms {box-sizing: border-box; font-family: 'Roboto', sans-serif; background: #F6F5F4; max-width: 1630px; width: 100%; margin: 0px auto 0 auto;}
.same_rooms__item {border: 2px solid #c0c0c0;}
.same_rooms__info_top {height: 110px; display: flex; border-bottom: 1px solid #c0c0c0;}
.same_rooms__info_top .t {text-align: center; padding-top: 8px; display: flex; flex-direction: column; justify-content: center;}
.same_rooms__info_top .t .text {font-size: 1vw; color: #696969; margin-bottom: 8px; text-transform: uppercase;}
.same_rooms__info_top .t1 {width: 33.4080%; border-right: 1px solid #c0c0c0;}
.same_rooms__info_top .t1 .number {font-size: 2.2vw; font-weight: bold; color: #009F00;}
.same_rooms__info_top .t2 {width: 66.3677%;}
.same_rooms__info_top .t2 .number {font-size: 2.2vw; color: #FF0000; font-weight: bold;}
.same_rooms__img {height: auto; overflow: hidden; display: flex; justify-content: center; align-items: center; background: #F2FEE4; padding: 10px 0;}
.same_rooms__img img {width: 100%; height: auto;}
.same_rooms__info_bot {height: 90px; display: flex; border-top: 1px solid #c0c0c0;}
.same_rooms__info_bot .t {padding-top: 6px; width: 33.3333%; border-right: 1px solid #c0c0c0; text-align: center; display: flex; flex-direction: column; justify-content: center;}
.same_rooms__info_bot .t:last-child {border: none;}
.same_rooms__info_bot .t .text {font-size: 16px; color: #696969; text-transform: uppercase; margin-bottom: 5px;}
.same_rooms__info_bot .t .number {font-size: 2.8vw; line-height: 2.8vw; color: #009F00;}
.same_rooms .owl-nav > div {width: 32px; height: 53px; font-size: 0; background: url(../img/arrows_red.png); position: absolute; top: 50%; margin-top: -26.5px;}
.same_rooms .owl-prev {left: 2%;}
.same_rooms .owl-nav .owl-next {right: 2%; background: url(../img/arrows_red.png) -33px -0px;}
@media (max-width:1440px) {
    .same_rooms__info_top .t, .same_rooms__info_bot .t {padding-top: 0;}
}
@media (max-width:1280px) {
    .same_rooms__info_top .t .text, .same_rooms__info_bot .t .text {font-size: 1.2vw;}
}
@media (max-width:1024px) {
    .same_rooms__info_top, .same_rooms__info_bot {height: auto;}
    .same_rooms__info_top .t, .same_rooms__info_bot .t {padding: 10px 0;}
    .same_rooms .owl-nav .owl-prev {left: 1%;}
    .same_rooms .owl-nav .owl-next {right: 1%;}
}
@media (max-width:768px) {
    .same_rooms__info_top .t .text, .same_rooms__info_bot .t .text {font-size: 2vw;}
    .same_rooms__info_top .t1 .number, .same_rooms__info_top .t2 .number, .same_rooms__info_bot .t .number {font-size: 3.2vw;}
}
@media (max-width:599px) {
    .same_rooms__info_bot .t .text {margin-bottom: 10px;}
    .same_rooms__info_top .t .text, .same_rooms__info_bot .t .text {font-size: 13px;}
    .same_rooms__info_top .t1 .number, .same_rooms__info_top .t2 .number, .same_rooms__info_bot .t .number {font-size: 20px;}
}