* {margin: 0px; padding: 0px; box-sizing: border-box; outline: none;}
body {font-family: 'arial', sans-serif;}
/* font-family: "GothamProRegular"; */
@font-face {
	font-family: "GothamProRegular";
	src: url("../fonts/GothamProRegular/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
		url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
	font-family: "GothamProBold";
	src: url("../fonts/GothamProBold/GothamProBold.eot");
	src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
		url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
	font-family: "GothamProBlack";
	src: url("../fonts/GothamProBlack/GothamProBlack.eot");
	src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
		url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
	font-family: "GothamProItalic";
	src: url("../fonts/GothamProItalic/GothamProItalic.eot");
	src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
		url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamProMedium/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
		url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
	font-family: "GothamProLight";
	src: url("../fonts/GothamProLight/GothamProLight.eot");
	src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
		url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
	font-family: "GothamProMediumItalic";
	src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
	src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
		url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
	font-family: "GothamProLightItalic";
	src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
	src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
		url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
	font-family: "GothamProBoldItalic";
	src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
	src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
		url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
	font-family: "GothamProBlackItalic";
	src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
	src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
		url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaRegular"; */
@font-face {
	font-family: "HelveticaRegular";
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
		url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
	font-family: "HelveticaBold";
	src: url("../fonts/HelveticaBold/HelveticaBold.eot");
	src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
		url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
	font-family: "HelveticaItalic";
	src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
	src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"),
		url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
	font-family: "HelveticaLight";
	src: url("../fonts/HelveticaLight/HelveticaLight.eot");
	src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
		url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
	font-family: "HelveticaBlack";
	src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
	src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
		url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
	font-family: "HelveticaHeavy";
	src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
	src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
		url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
	font-family: "HelveticaMedium";
	src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
	src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
		url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
	font-family: "HelveticaThin";
	src: url("../fonts/HelveticaThin/HelveticaThin.eot");
	src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
		url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
	font-family: "HelveticaUltraLight";
	src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
	src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
		url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
	font-family: "HelveticaBoldItalic";
	src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
	src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
		url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
	font-family: "HelveticaBlackItalic";
	src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
	src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
		url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
	font-family: "HelveticaLightItalic";
	src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
	src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
		url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
	font-family: "HelveticaMediumItalic";
	src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
	src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
		url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
	font-family: "HelveticaHeavyItalic";
	src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
	src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
		url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
	font-family: "HelveticaThinItalic";
	src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
	src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
		url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
	font-family: "HelveticaUltraLightItalic";
	src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
	src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
		url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*global*/
.global_wrapper {overflow: hidden;}

/*header*/
.header {height: 175px; padding: 8px 0 10px; width: 100%; position: fixed; left: 0; right: 0; top: 0; z-index: 998;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b1932+0,6d5972+100 */
	background: #2b1932; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b1932 0%, #6d5972 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2b1932 0%,#6d5972 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2b1932 0%,#6d5972 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b1932', endColorstr='#6d5972',GradientType=0 ); /* IE6-9 */
}
.header .wrapper {display: flex; flex-wrap: wrap; align-items: flex-start; height: 100%; width: 100%; margin: 0 auto; padding-left: .7%;}
.header__logo {background: url(../img/logo.png) no-repeat; width: 216px; height: 154px; background-position: 8px -5px;}
.header__name {margin-left: 2.1%;}
.header__name .t1 {font-size: 35px; color: #ffd700; font-family: 'roboto Black', arial; letter-spacing: .5px}
.header__name .t2 {font-size: 24px; line-height: 29px; font-weight: 300; color: #fff; font-family: 'Roboto', sans-serif;}
.header__name .btn {width: 215px; height: 30px; background: #FFD700; font-size: 20px; color: #000; font-family: 'Roboto', sans-serif; margin-top: 16px; text-align: center;}
.header__contact {position: absolute; right: 20px; top: 7px;}
.header__contact .phone {display: flex; flex-wrap: wrap; align-items: center;}
.header__contact .phone .text {color: #fff!important; text-decoration: none!important;}
.header__contact .phone .circle {width: 40px; height: 40px; border-radius: 50%; border: 2px solid #fcab1c; display: flex; justify-content: center; align-items: center; margin-right: 15px; margin-top: 7px}
.header__contact .phone .fa {color: #fcab1c; font-size: 20px; width: 16px;}
.header__contact .phone span {font-size: 35px; color: #fff; font-family: 'Roboto', sans-serif; font-weight: 500;}
.header__contact .call {color: #ffd700; font-size: 19px; font-family: 'Roboto', sans-serif; text-align: right; margin-top: 8px;}
.header__contact .address {text-align: right; font-size: 19px; font-weight: 300; color: #fff; font-family: 'Roboto', sans-serif; margin-top: 26px}
.header__model {display: none;}
.header__open {display: none!important;}
.header__close {display: none!important;}
.header__small {height: 100px;}
.header__small .wrapper {align-items: center;}
.header__small .header__logo {width: 100px; height: 77px; background-size: 100% auto;}
.header__small .header__name .btn {display: none;}
.header__small .header__name .t1 {font-size: 24px; color: #ffd700;}
.header__small .header__name .t2 {font-size: 19px; color: #fff; font-weight: 300; line-height:  22px;}
.header__small .header__model {display: flex; flex-wrap: wrap; align-items: center; margin-left: 3.6%;}
.header__small .header__model .t1 {font-size: 19px; color: #fff; font-family: 'roboto'; font-weight: 300;}
.header__small .header__model .phone {display: flex; flex-wrap: wrap; align-items: center; margin-left: 22px;}
.header__small .header__model .circle {width: 40px; height: 40px; border-radius: 50%; border: 2px solid #FBA922; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-right: 18px;}
.header__small .header__model .circle i {font-size: 20px; color: #fcab1c;}
.header__small .header__model .text {font-size: 29px; color: #fff; font-weight: 500;}
.header__small .header__contact {top: 24px;}
.header__small .header__contact .text1 {font-size: 19px; color: #fff; font-weight: 300; font-family: 'roboto'; margin-right: 22px;}
.header__small .header__contact .call, .header__small .header__contact .address {display: none;}
.header__nav.nav__small {top: 100px;}
.header__contact .text1 {display: none;}
.header__small .text1 {display: block;}
@media (max-width:1600px) {/*1280*/
	.header__small {height: 100px!Important;}
	.header__small .header__name {margin-left: 1%;}
	.header__small .header__model {position: absolute; height: 24px; margin-top: -12px; top: 50%; left: 36%;}
	.header__small .header__model .t1 {font-size: 1.2vw;}
	.header__small .header__model .phone .circle {display: none;}
	.header__small .header__model .phone .text {font-size: 1.4vw;}
	.header__small .header__contact {height: 24px!important; margin-top: -12px!important; top: 50%!important;}
	.header__small .header__contact .text1 {font-size: 1.2vw;}
	.header__small .header__contact .circle {display: none!important;}
	.header__small .header__contact .text {font-size: 18px!important;}
}
@media (max-width:1024px) {/*740*/
	.header {height: 140px; padding: 10px 0 20px;}
	.header__logo {background-size: 108px 84px; width: 108px; height: 75px;}
	.header__name {margin-left: 1%;}
	.header__name .t1 {font-size: 2vw}
	.header__name .t2 {font-size: 1.5vw}
	.header__name .btn {font-size: 1.5vw; margin-top: 5px; height: auto; padding: 3px;}
	.header__contact {text-align: right;}
	.header__contact .phone {justify-content: flex-end;}
	.header__contact .phone .circle {width: 30px; height: 30px; margin-top: 0; display: flex; justify-content: center; align-items: center; text-align: center;}
	.header__contact .phone .fa {font-size: 15px; }
	.header__contact .phone .text {font-size: 2.8vw;}
	.header__contact .call {font-size: 1.7vw; margin-top: 5px;}
	.header__contact .address {margin-top: 5px; font-size: 1.6vw}
	.header__small .header__name .t1 {font-size: 16px; text-align: center;}
	.header__small .header__name .t2 {font-size: 14px; text-align: center; line-height: 16px;}
}
@media (max-width:740px) {/*320*/
	.header {padding: 10px 0; height: 100px}
	.header .wrapper {padding: 0 2%; justify-content: space-between; align-items: center;}
	.header__logo {background-size: 80px 62px; width: 80px; height: 62px; background-position: left top;}
	.header__name {display: none;}
	.header__contact {position: relative; right: auto; top: auto;}
	.header__contact .phone .circle {display: none;}
	.header__contact .phone .text {font-size: 21px;}
	.header__contact .call {font-size: 13px;}
	.header__contact .address {font-size: 12px;}
	.header__small .header__logo {margin-left: 8%;}
	.header__small .header__model {right: 2%; left: auto;}
	.header__small .header__model .t1 {font-size: 13px;}
	.header__small .header__model .phone {margin-left: 10px;}
	.header__small .header__model .phone .text {font-size: 14px;}
	.header__small .header__contact {right: -1%; left: auto;}
	.header__small .header__contact .text1 {font-size: 12px; margin-right: 10px;}
	.header__small .header__contact .phone .text {font-size: 14px!important; font-weight: normal;}
	.header__nav.nav__small {top: 136px}
}
@media (max-width:400px) {
	.header__small .header__contact {position: absolute; left: 19.6%; margin-top: 0!important; bottom: 10px; top: auto!important; right: auto;}
	.header__small .header__contact {position: absolute; left: 19.6%; margin-top: 0!important; bottom: 10px; top: auto!important; right: auto;}
	.header__small .header__model {margin-top: 0; top: 10px; left: 16%;}
}

/*header__nav*/
.header__nav {background: #FFFFFF; height: 56px; display: flex; align-items: center; flex-wrap: wrap; box-shadow: 0 0 10px 0 rgba(0,0,0,.3); position: fixed; left: 0; top: 175px; right: 0; z-index: 999; }
.header__nav .wrapper {width: 1585px; margin-left: 2.6%; display: flex; justify-content: space-between;}
.header__nav__link {color: #000; transition: .3s; font-size: 24px; font-family: 'Roboto', sans-serif; text-decoration: none; position: relative; transition: .3s;}
.header__nav__link:after {display: block; content: ''; position: absolute; left: 0; right: 0; bottom: 0px; height: 2px; background: #ffa500; transition: .3s; opacity: 0;}
.header__nav__link:hover {color: #ffa500;}
.header__nav__link:hover:after {opacity: 1; bottom: -3px;}
.header__close {display: none;}
@media (max-width:1800px) {/*1600*/
	.header__nav .wrapper {width: 100%; margin: 0; padding: 0 2%;}
	.header__nav__link {font-size: 1.4vw;}
}
@media (max-width:1280px) {/*1024*/
	.header__nav__link {font-size: 1.8vw;}
}
@media (max-width:1024px) {/*740*/
	.header__nav {top: 140px;}
}
@media (max-width:740px) {/*320*/
	.header__logo {margin-left: 15%;}
	.header__nav {top: 140px; width: 300px; display: none; height: auto;} 
	.header__nav .wrapper {top: 100px; height: auto; flex-wrap: wrap; flex-direction: column; padding: 0;} 
	.header__nav__link {width: 100%; font-size: 18px; border: 1px solid #8a3e94; border-width: 0 0 2px; padding: 5px 0 5px 15px; color: #8a3e94;
	}
	.header__nav__link:hover {border-color: #ffa500;}
	.header__nav__link:hover:after {display: none;}
	.header__close {display: block!important; position: absolute; right: 0; top: -12%; color: #8a3e94; font-size: 30px!important; transition: .3s; cursor: pointer;}
	.header__close:hover {color: #ffa500;}
	.header__open {display: block!important; font-size: 30px!important; color: #fff; position: absolute; left: 2%; top: 50%; margin-top: -15px; transition: .3s; cursor: pointer;}
	.header__open:hover {color: #ffa500;}
}
@media (max-width:400px) {/*320*/
	.header .wrapper {justify-content: flex-end;}
	.header__logo {display: none;}
}


.content {margin-bottom: 40px;	}


/*slider_wrap*/
.slider_wrap {position: relative;}
body .slider_arrow {position: absolute; top: 56%; font-size: 121px; color: #fff; transition: .3s;}
body .slider_arrow.fa-angle-left {left: 3%;}
body .slider_arrow.fa-angle-right {right: 2.7%;}
body .slick-prev, body .slick-next {width: 43.2167px; height: 121px; top: 63%; cursor: pointer; z-index: 2;}
body .angle_hover {color: #F84D56;}
body .slick-prev:before, body .slick-next:before {display: none;}
body .slick-prev {left: 3.1%;}
body .slick-next {right: 2.7%;}

/*slider_main*/
body .slider_main__slide {height: 700px; background-size: cover; margin-top: 230px;}
.slider_main__text1 {font-size: 75px; color: #fff; font-family: 'HelveticaBold'; position: absolute; left: 35px; top: 52px; width: 81%;}
.slider_main__text1 p {background: rgba(248,77,86,.7); padding: 10px 0 0 40px;}
.slider_main__text1 .t1 {letter-spacing: 1.4px;}
.slider_main__text1 .t2 {font-size: 48px; padding: 15px 0 10px 28px; letter-spacing: .7px; width: 53%}
.slider_main__btn {background: #DD2648; width: 24.5%; height: 99px; position: absolute; left: 38px; bottom: 35px; display: flex; align-items: center; color: #fff; font-size: 36px; transition: .3s; display: flex; border-radius: 4px; text-decoration: none; letter-spacing: .3px; justify-content: center;}
.slider_main__btn:hover {background: #FD1413;}
.slider_main__btn .fa {font-size: 40px; color: #fff; margin-right: 23px;}

@media (max-width:1900px) {/*1800*/
	.slider_main__text1 .t1 {font-size: 3.4vw; padding-left: 28px;}
	.slider_main__text1 .t2 {font-size: 2.0vw;}
}
@media (max-width:1800px) {/*1600*/
	.slider_main__btn {font-size: 2vw;}
	.slider_main__btn .fa {font-size: 2.3vw;}
}
@media (max-width:1600px) {/*1280*/
}
@media (max-width:1280px) {/*1024*/
	.slider_main__btn {font-size: 2.4vw; width: 30%;}
	.slider_main__btn .fa {font-size: 2.8vw;}
}
@media (max-width:1024px) {/*740*/
	body .slider_main__slide {margin-top: 197px;}
	.slider_main__btn {font-size: 3.2vw; width: auto; padding: 0 20px; height: 60px;}
	.slider_main__btn .fa {font-size: 4vw;}
}
@media (max-width:740px) {/*320*/
	body .slider_main__slide {margin-top: 100px; height: 500px;}
	.slider_main__text1 {left: 2%; right: 2%; width: auto;}
	.slider_main__text1 .t1 {padding: 10px; font-size: 18px; text-align: center}
	.slider_main__text1 .t2 {padding: 10px; font-size: 16px; width: 100%; text-align: center;}
	.slider_main__btn {font-size: 22px; left: 3%;}
	.slider_main__btn .fa {font-size: 24px; margin-right: 5px;}
	body .slider_arrow {font-size: 80px;}
	body .slick-prev, body .slick-next {top: 61%;}
	body .slick-prev  {left: 2%;}
	body .slick-next {right: 2%;}
}

.footer {height: 212px; background: #9767A0;}
.footer .wrapper {padding: 0px 17px 0 25px; display: flex; flex-wrap: wrap; align-items: flex-start; position: relative;}
.footer__contact {width: 17%; display: flex; flex-wrap: wrap; align-items: center; margin-top: 17px;}
.footer__contact .t {width: 100%; display: flex; flex-wrap: wrap;}
.footer__contact .t .left {display: flex; align-items: center;}
.footer__contact .t .left i {font-size: 18px; color: #fff; transition: .3s;}
.footer__contact .t:hover i {color: #FFA500;}
.footer__contact .t .right {font-size: 16px; line-height: 19px; color: #fff; font-family: 'Roboto', sans-serif; font-weight: 300; margin-left: 20px;}
.footer__contact .t2 {margin-top: 21px;}
.footer__contact .t2 .phone {font-size: 29px; line-height: 30px; color: #fff; font-weight: 500;}
.footer__contact .t3 {margin-top: 24px;}
.footer__contact .t3 .link {color: #fff; text-decoration: none; font-size: 16px; font-weight: 300; transition: .3s;}
.footer__contact .t3 .link:hover {color: #FFD700;}
.footer_menu {margin-left: 10%; display: flex; flex-wrap: wrap; align-items: flex-start;}
.footer_menu__column {margin: 16px 0 0 0; display: block;}
.footer_menu__column:nth-child(2) {margin-left: 150px;}
.footer_menu__column:nth-child(3) {margin-left: 115px;}
.footer_menu__column .title {font-size: 16px; color: #fff; font-family: 'roboto'; font-weight: 500; margin-bottom: 16px;}
.footer_menu__column .link {color: #fff; transition: .3s; font-size: 16px; font-weight: 300; font-family: 'roboto'; position: relative; text-decoration: none; transition: .3s; width: 100%; display: block; margin-top: 7px;}
.footer_menu__column .link:after {display: block; content: ''; position: absolute; left: 0; right: 0; bottom: 0px; height: 2px; background: #ffa500; transition: .3s; opacity: 0;}
.footer_menu__column .link:hover {color: #ffa500;}
.footer_menu__column .link:hover:after {opacity: 1; bottom: -3px;}
.footer__social {position: absolute; right: 14px; top: 20px; width: 274px; height: 34px;}
.footer__copy {font-size: 13px; color: #fff; font-weight: 300; font-family: 'roboto'; position: absolute; left: 25px; bottom: -10px;}
.footer__by {font-size: 13px; color: #fff; font-weight: 300; font-family: 'roboto'; position: absolute; right: 15px; bottom: -10px;}
.footer__by .link {font-size: 13px; color: #fff; font-weight: 300; font-family: 'roboto'; text-decoration: none; transition: .3s; position: relative;}
.footer__by .link:hover {color: #FFA500;}
.footer__by .link:after {display: block; content: ''; position: absolute; left: 0; right: 0; bottom: 0px; height: 2px; background: #ffa500; transition: .3s; opacity: 0;}
.footer__by .link:hover:after {opacity: 1; bottom: -3px;}
@media (max-width:1900px) {/*1800*/
	.footer__contact {width: 20%;}
}
@media (max-width:1600px) {/*1280*/
	.footer__contact {}
	.footer__contact .t .right {margin-left: 4%;}
	.footer__contact .t1 .left i {font-size: 1.5vw;}
	.footer__contact .t1 .right {font-size: 1vw;}
	.footer__contact .t2 .right .phone {font-size: 1.9vw;}
	.footer_menu {width: 53%; margin-left: 3%; display: flex; flex-wrap: wrap; justify-content: space-between;}
	.footer_menu__column {margin-left: 0!important;}
}
@media (max-width:1280px) {/*1024*/
	.footer .wrapper {padding: 0 1%;}
	.footer__social {width: 20%}
	.footer__contact {width: 24%;}
	.footer__contact .t1 .right {font-size: 1.2vw;}
	.footer__copy {left: 10px;}
}
@media (max-width:1024px) {/*740*/
	.footer {height: auto;}
	.footer .wrapper {padding-bottom: 60px;}
	.footer__contact {width: 100%;}
	.footer__contact .t .fa {font-size: 16px!important;}
	.footer__contact .t1 .right {font-size: 16px;}
	.footer__contact .t2 .right .phone {font-size: 24px;}
	.footer_menu {width: 100%; margin-left: 0; margin-top: 20px;}
	.footer__social {width: 100%; position: relative; right: auto; top: auto; margin-top: 10px;}
	.footer__copy {bottom: 30px;}
	.footer__by {bottom: 10px; right: auto; left: 10px;}
}

/*column_wrap*/
.column_wrap {display: flex; flex-wrap: wrap; margin-top: 18px; padding: 0 30px 0 36px; justify-content: space-between; align-items: flex-start;}
/*left_column*/
.left_column {width: 17%; margin-top: 8px;}
.left_column .title {font-size: 1.5vw; color: #dc143c; font-family: 'roboto', sans-serif; margin-bottom: 40px; position: relative;}
.left_column .title:after {position: absolute; left: 0; right: 0; bottom: -40%; height: 2px; background: #dc143c; display: block; content: '';}
.left_column .link {display: block; color: #8a3e94; transition: .3s; font-size: 21px; font-family: 'roboto', sans-serif; font-size: 1.1vw; font-family: 'roboto', sans-serif; padding-left: 27px; text-transform: uppercase; margin-bottom: 34px; position: relative;}
.left_column .link span {position: relative; display: inline-block;}
.left_column .link:hover {color: #F5CF02;}
.left_column .link span:before {display: block; content: ''; position: absolute; left: 0; right: 0; bottom: 0px; height: 2px; background: #ffa500; transition: .3s; opacity: 0;}
.left_column .link:hover {color: #ffa500;}
.left_column .link:hover span:before {opacity: 1; bottom: -3px;}
.left_column .link:after {display: block; content: ''; position: absolute; left: 1px; top: 50%; margin-top: -5.5px; width: 11px; border-radius: 50%; height: 11px; border: 1px solid #8a3e94;}
.left__vk {width: 100%; margin-top: 44px; overflow: hidden; text-align: center;}
.left__vk img {width: 100%; height: auto; max-width: 302px;}
.left__docs {margin-top: 60px;}
.left__docs .title {font-size: 1.1vw; color: #5f2476; font-family: 'roboto', sans-serif; display: flex; align-items: center; background: url(../img/certificate.png) left center no-repeat; background-size: 30px 30px; padding-left: 46px; margin-bottom: 30px;}
.left__docs .item {width: 100%; overflow: hidden; margin-bottom: 30px;}
.left__docs .item:last-child {margin-bottom: 0;}
.left__docs .item img {width: 100%; height: auto; vertical-align: bottom;}
@media (max-width:1024px) {/*740*/
	.left_column {width: 100%;}
	.left_column__menu {display: flex; flex-wrap: wrap; justify-content: space-between;}
	.left_column__menu  .title {width: 100%; font-size: 4vw;}
	.left_column .link {margin: 0; padding: 0; font-size: 2vw; width: 30%; margin: 10px 0;}
	.left_column .link:after {display: none;}
	.left__docs {display: flex; flex-wrap: wrap; justify-content: space-between;}
	.left__docs .title {font-size: 4vw; width: 100%;}
	.left__docs .item {width: 30%;}
	.left__vk {position: absolute; left: 0; bottom: 0;}
}
@media (max-width:1024px) {/*320*/
	.left_column__menu  .title, .left__docs .title {font-size: 18px; text-align: center;}
	.left_column .link {margin: 5px 0; font-size: 15px; width: 48%; text-align: center;}
	.left_column .link:nth-child(odd) {}
	.column_wrap {padding-bottom: 530px!important; position: relative;}
}

/*center_column*/
.center_column {width: 78.3%; padding-top: 0px;}
.center_column p {font-size: 1.2vw; line-height: 1.4vw; color: #000; font-weight: 300; font-family: 'roboto', sans-serif; margin-bottom: 26px;}
h1 {font-size: 1.9vw; color: #5f2476; font-family: 'roboto', sans-serif; margin-bottom: 33px;}
h2 {font-size: 1.9vw; color: #5f2476; font-family: 'roboto', sans-serif; font-weight: normal; margin-bottom: 20px;}

/*vip*/
.vip {margin-top: 45px;}
.vip__cont .line {height: 80px; display: flex; flex-wrap: wrap;}
.vip__cont .line:nth-child(odd) {background: #F5F5F5;}
.vip__cont .cell {display: flex; align-items: center; height: 100%; width: 33%;}
.vip__cont .cell:hover .fa {color: #F5D202;}
.vip__cont .cell:nth-child(1) {padding-left: 1.2%; width: 31%;}
.vip__cont .cell:nth-child(2) {padding-left: 6.5%; width: 37%;}
.vip__cont .cell:nth-child(3) {padding-left: 5.6%; width: 32%;}
.vip__cont .cell .fa {color: #dc143c; font-size: 1.5vw; transition: .3s;}
.vip__cont .cell .text {color: #5f2476; font-size: 1.1vw; line-height: 1.3vw; font-family: 'roboto', sans-serif; font-weight: 300; margin-left: 19px;}

.get_down {text-align: center; height: 30px; display: flex; flex-wrap: wrap; align-items: center; margin-top: 4px;}
.get_down .fa {transition: .3s; font-size: 48px!important; line-height: 48px; color: #dc143c; display: block; margin: 0 auto;}
.get_down:hover {color: #f5cf02;}

.get_in {height: 100px; background: #E02C50; display: flex; align-items: center; width: 100%; flex-wrap: wrap; justify-content: center; font-size: 1.5vw; color: #fff; border-radius: 5px; text-decoration: none; margin-top: 1px;}
@media (max-width:1800px) {/*1600*/
	.vip__cont .cell .text {font-size: 1vw;}
}

/*schedule*/
.schedule {margin-top: 40px; position: relative;}
.schedule .title {font-size: 1.9vw; font-family: 'roboto', sans-serif; color: #5f2476;}
.schedule .line {height: 45px; display: flex; flex-wrap: wrap;}
.schedule .line:nth-child(even) .cell {background: #F5F5F5;}
.schedule .head {height: 80px; background: #FDF5E6!important; margin-top: 20px; display: flex; flex-wrap: wrap; margin-bottom: 6px;}
.schedule .head .cell {background: #FDF5E6!important;}
.schedule .head:hover .fa {color: #F5CF02;}
.schedule .head .left .fa {color: #FFA500;}
.schedule .head .center .fa {color: #0000CD;}
.schedule .head .right .fa {color: #8B4513;}
.schedule .cell {height: 100%; display: flex; flex-wrap: wrap; align-items: center; font-size: 1.1vw; color: #5f2476; font-family: 'roboto', sans-serif; font-weight: 300;}
.schedule .cell .day {width: 50%; padding-left: 13%; position: relative;}
.schedule .cell .day:after {display: block; content: ''; position: absolute; left: 5.5%; top: 50%; margin-top: -6px; width: 13px; height: 13px; border-radius: 50%; background: #3CB371;}
.schedule .cell .time {width: 45%; margin-left: 5%;}
.schedule .cell:nth-child(1) {padding-left: 1%; width: 27%;}
.schedule .cell:nth-child(2) {padding-left: 1.7%; width: 26.5%; margin-left: 8.8%;}
.schedule .cell:nth-child(3) {padding-left: 1.8%; width: 26.4%; margin-left: 9.5%;}
.schedule .cell:nth-child(3) .text {margin-left: 6.4%;}
.schedule .fa {font-size: 1.5vw; transition: .3s;}
.schedule .text {font-size: 1.1vw; color: #5f2476; font-family: 'roboto', sans-serif; font-weight: 300; margin-left: 5%;}
.sche_alert {height: 76px; border: 2px solid #DC143C; position: absolute; left: 35.8%; bottom: -5px; width: 62.4%; display: flex; align-items: center; background: #F8F8FF; padding-left: 1.2%;}
.sche_alert .smile {}
.sche_alert .smile .fa {font-size: 1.6vw; color: #dc143c;}
.sche_alert .t {margin-left: 2.4%; font-size: 1.1vw; line-height: 1.3vw; color: #dc143c; font-family: 'roboto', sans-serif; height: 100%; display: flex; align-items: center;}

/*advantages*/
.advantages {margin-top: 52px;}
.advan__wrap {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 70px; width: 94%;}
.advan__wrap .item {}
.advan__wrap .item .img {display: flex; justify-content: center; align-items: flex-start; height: 100px;}
.advan__wrap .item .img img {vertical-align: bottom;}
.advan__wrap .item .text {margin-top: 0px;}
.advan__wrap .item .text p {color: #dc143c; font-size: 1.3vw; font-family: 'roboto', sans-serif; text-align: center; margin-bottom: 0; font-weight: normal;}
.advan__wrap .item .red {height: 32px; display: flex; align-items: center; padding: 0 13px; color: #fff; font-size: 1.3vw; font-family: 'roboto', sans-serif; background: #F97178; justify-content: center; margin-top: 8px;}

/*why*/
.why {margin-top: 39px;}
.why__item {margin-top:5px;}
.why__item:first-child {margin-top: 0;}
.why h2 {margin-bottom: 14px;}
.why .title {height: 52px; display: flex; align-items: center; flex-wrap: wrap; background: #FDF5E6; position: relative;}
.why .title a {color: #dc143c; font-size: 1.25vw; font-family: 'roboto', sans-serif; padding-left: 4.6%; transition: .3s;}
.why .title:hover a {color: #FFA931;}
.why .title a:before {position: absolute; left: 1.3%; top: 50%; margin-top: -8px; display: block; content: ''; width: 16px; height: 16px; border: 1px solid #dc143c; border-radius: 50%;}
.why .cont {display: flex; flex-wrap: wrap; align-items: flex-start; margin-top: 30px; padding-left: 1%;}
.why .cont .t {font-size: 1.2vw; color: #5f2476; font-weight: 300; font-family: 'roboto', sans-serif; display: flex; align-items: center; width: 48%; margin-bottom: 37px;}
.why .cont .t .icon {margin-right: 3.4%;}
.why .cont .t .text {}
.why .cont .fa {font-size: 1.5vw; color: #dc143c; transition: .3s;}
.why .cont .fa:hover {color: #F5CF02;}
.why .cont .min_title {font-weight: normal; width: 100%; margin-bottom: 46px;}
.why .cont .min_title .icon {margin-right: 2%;}
.why .cont .min_title .text {width: 96%; font-size: 1.1vw;}
.why .cont .link {color: #dc143c; font-size: 1.2vw; font-family: 'roboto', sans-serif; transition: .3s; font-weight: normal;}
.why .cont .link:hover {color: #FFA500;}

@media (max-width:1280px) {/*1024*/
	.column_wrap {padding: 0 2%;}
}

@media (max-width:1024px) {/*740*/
	.center_column {width: 100%;}
	h1 {font-size: 3vw; margin-bottom: 20px;}
	.center_column p {font-size: 2vw; line-height: 2.2vw; margin-bottom: 10px;}
	.vip {margin-top: 20px;}
	.vip h2 {margin-bottom: 15px;}
	.vip__cont .line {justify-content: space-between; height: auto; padding: 5px 0;	align-items: center;}
	.vip .cell {padding: 0 0 0 1%!important; width: 32%!important;}
	.vip .cell .text {font-size: 1.8vw; line-height: 2vw;}
	.get_in {font-size: 2vw;}
	.schedule {margin-top: 20px;}
	.schedule .title {font-size: 3vw; margin-bottom: 15px;}
	.schedule .text {font-size: 1.6vw;}
	.schedule .fa {font-size: 2vw;}
	.schedule .cell .day {font-size: 1.4vw;}
	.schedule .cell .time {font-size: 1.4vw;}
	.sche_alert .t {font-size: 1.5vw;}
	.sche_alert .smile .fa {font-size: 2vw;}
	.advantages {margin-top: 20px;}
	.advan__wrap {margin-top: 20px; width: 100%;}
	.advan__wrap .item .img {height: 90px;}
	.advan__wrap .item .text p {font-size: 1.7vw;}
	.advan__wrap .item .red {font-size: 1.7vw;}
	h2 {font-size: 2.2vw; margin-bottom: 15px;}
	.why {margin-top: 20px;}
	.why .title a {font-size: 2vw;}
	.why .cont .min_title .text {font-size: 1.7vw;}
	.why .cont .t .text {font-size: 1.6vw; padding-right: 1%;}
	.why .cont .link {font-size: 1.6vw;}
}
@media (max-width:740px) {/*320*/
	h1 {font-size: 21px; text-align: center;}
	.center_column p {font-size: 16px; line-height: 18px;}
	.vip h2 {font-size: 21px; text-align: center;}
	.vip__cont .line {align-items: flex-start;}
	.vip__cont .cell {width: 48%!important;}
	.vip__cont .cell .icon {display: none;}
	.vip__cont .cell .text {font-size: 14px; line-height: 18px; margin-bottom: 10px;}
	.vip__cont .cell:last-child .text {margin-bottom: 0;}
	.get_in {height: auto; font-size: 18px; padding: 10px 5px; text-align: center;}
	.schedule {padding-bottom: 100px;}
	.schedule .title {font-size: 21px; text-align: center;}
	.schedule .head .fa {display: none;}
	.schedule .text {font-size: 15px; text-align: center;}
	.schedule .head .left .fa {display: none;}
	.schedule .line {height: auto; padding: 10px 0;}
	.schedule .cell {padding: 0!important;}
	.schedule .cell .day {padding: 0; font-size: 14px; width: 100%; text-align: center;}
	.schedule .cell .day:after {display: none;}
	.schedule .cell .time {font-size: 14px; width: 100%; margin: 5px 0 0 0; text-align: center;}
	.sche_alert {left: 0; right: 0; width: auto; height: 100px;}
	.sche_alert .smile {display: none;}
	.sche_alert .t {margin: 0; font-size: 16px; line-height: 18px;}
	h2 {font-size: 20px; text-align: center; line-height: 22px;}
	.advan__wrap {margin: -10px 0;}
	.advan__wrap .item {width: 48%; margin: 10px 0;}
	.advan__wrap .item .text p {font-size: 15px;}
	.advan__wrap .item .red {font-size: 15px;}
	.why .title a {font-size: 16px; text-align: center;}
	.why .cont .fa {display: none;}
	.why .title a:before {display: none;}
	.why .cont .t .text {font-size: 14px;}
	.why .cont .link {font-size: 14px;}
}

