@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
* {font-family: 'Roboto', sans-serif;  margin: 0px; padding: 0px; box-sizing:border-box; outline: none;}
body {line-height: 1.185; background: #F5F5F5;}
/*global*/
.global-wrapper {overflow: hidden;}
.fa {transition: .5s; cursor: pointer;}
sup {width: auto!important;}
.wrapper {height: 100%; width: 1800px; margin: 0 auto; position: relative;}
@media (max-width:1800px) {/*1600*/
    .wrapper {width: 100%; padding: 0 2%;}
}

/*header*/
.header {background: rgba(233,26,37, .95); position: fixed; left: 0; top: 0; right: 0; z-index: 100; height: 100px; box-shadow: 0px 0px 5px #000000;}
.header .wrapper {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.header__logo {background: url(../img/logo.png) no-repeat left center; font-size: 24px; color: #fff; height: 90px; display: flex; align-items: center; padding-left: 110px;text-decoration: none;}
.nav {display: flex; justify-content: space-between; height: 100%;}
.nav .main_link {font-size: 1.1vw; font-weight: 500; text-transform: uppercase; color: #fff; text-decoration: none; margin-left: 50px;}
.nav .link {position: relative; height: 100%; display: flex; align-items: center;}
.nav .link:first-child {margin-left: 0;}
.nav .link:hover .sub_menu {display: flex;}
.header__phone {color: #fff;}
.header__phone .phone {font-size: 1.7vw; color: #fff; text-decoration: none; font-weight: normal; margin-left: 5px; letter-spacing: .1vw;}
.header__phone .t1 {justify-content: flex-end; font-size: 35px; text-align: right; display: flex; align-items: center;}
.header__phone .t1 {margin-bottom: 5px;}
.header__phone .t1 img {width: 35px; height: 28px;}
.header__phone .t2 {justify-content: flex-end; font-size: 16px; font-weight: 300; text-align: right; display: flex; align-items: center;}
.header__phone .t2 .phone {}
.header__phone .t2 img {width: 35px; height: 33px;}
.header__phone .t2 .text {display: block;}
.header .fa-bars {display: flex; font-size: 30px; color: #fff; cursor: pointer;}
.nav .fa-times-circle {display: none; font-size: 30px; color: #EA2630; cursor: pointer; position: absolute; right: 0; top: -28px; width: 25px; height: 25px; border-radius: 50%; background: #fff; line-height: 25px; box-shadow: 0px 0px 5px #000000;}
.nav .link:nth-child(4) {display: none;}
.nav .link:nth-child(6) {display: none;}
.nav .link:last-child {display: none;}
.header__small nav a:last-child {display: block;}
.header .fa-phone-square {display: none;}
.sub_menu {display: none; position: absolute; top: 100%; left: 16%; background: #e91a25; width: 58vw; height: 60px; padding: 0 22px; justify-content: space-between; align-items: center; box-shadow: 0px -1px 5px rgba(0,0,0,.3); padding-right: 40%;}
.sub_link {position: relative; color: #fff; text-transform: uppercase; text-decoration: none; font-size: 1.1vw;}
.sub_link:hover:after {width: 100%; background: #fff;}
.sub_link:after {width: 0; margin: auto; height: 2px; transition: .4s; background: transparent; content: ''; display: block; margin-top: 2px;}
.header .fa-bars {display: none;}
@media (max-width:1800px) {/*1600*/
}
@media (max-width:1600px) {/*1280*/
    .nav .main_link {font-size: 1.1vw; margin-left: 1vw;}
    .header__phone .t2 {font-size: 1.1vw;}
}
@media (max-width:1440px) {
	.sub_menu {width: 54vw;}
	.header__phone .t1 {margin-bottom: 10px;}
}
@media (max-width:1280px) {/*1024*/
    .header__logo {font-size: 1.5vw; background-size: 60px 60px; padding-left: 7%;}
    
}
@media (max-width:1024px) {/*740*/
    .header__logo {position: absolute; left: 50%; top: 50%; margin: -45px 0 0 -45px; width: 90px; height: 90px; background-size: 90px 90px;}
    .header__logo span {display: none;}
    .header .fa-bars {display: block;}
    .header .on {display: flex;}
    .nav {height: auto; justify-content: flex-start; flex-direction: column; position: absolute; left: 0; top: 132px; background: #EA2630; width: 294px; box-shadow: -1px 0px 5px rgba(0,0,0,.3); display: none; transition: .5s;}
    .nav .main_link {display: block!important; font-size: 16px; margin-left: 0; padding: 8px 0 8px 12px; position: relative; border-bottom: 2px solid #fff; transition: .3s; width: 100%;}
    .nav .link:after {position: absolute; left: 0; right: 100%; top: 100%; display: block; content: ''; background: #be1537; height: 2px; transition: .5s;}
    .nav .link:hover:after {right: 0%;}
    .nav .fa-times-circle {display: block;}
	.header__phone .t1 {margin-bottom: 5px;}
	.header__phone .phone {font-size: 25px;}
	.sub_menu {width: auto; height: auto; left: 100%; top: 0; flex-direction: column; padding: 0;}
	.sub_link {padding: 10px 0; justify-content: center; display: flex; align-items: center;  text-align: center; font-size: 16px; border-top: 2px solid #fff; width: 100%;}
	.sub_link:first-child {border: none;}
	.sub_link:last-child {border-bottom: 2px solid #fff;}
}
@media (max-width:740px) {/*320*/
    .header__logo {margin-left: 0; left: 20%;}
	.header__phone img {display: none;}
	.sub_menu {display: none!important;}
}

/*header__small*/
.header__small .wrapper {}
.header__small .hide {display: none;}
.header__small .nav {align-items: baseline;}
.header__small .nav .main_link {font-size: 1vw; margin-left: 40px;}
.header__small .nav .link:nth-child(4) {display: block; border-bottom: 1px dashed #fff;}
.header__small .nav .link:nth-child(6) {display: block;}
.header__small .nav .link:last-child span {border-bottom: 1px dashed #fff;}
.header__small .nav .link:last-child i {margin-right: 10px; margin-top: 5px; font-size: 20px;}
.header__small .header__phone {position: relative; right: 0%;}
.header__small .header__phone .t1 {display: flex; align-items: center; font-size: 1.8vw;}
.header__small .header__phone i {font-size: 30px; margin-right: 10px; display: inline-block;}
.header__small .header__logo span {display: none;}
@media (max-width:1800px) {/*1600*/
	.header__small .nav .main_link {margin-left: 30px;}
}
@media (max-width:1600px) {/*1280*/
	.header__small .nav .main_link {margin-left: 20px;}
}
@media (max-width:1024px) {/*740*/
	.header__small .wrapper {justify-content: space-between;}
	.header__small .header__phone {position: relative; right: auto;}
	.header__small .nav .main_link {font-size: 16px; margin-left: 0; padding: 8px 0 8px 12px; position: relative; border-bottom: 2px solid #fff!important; transition: .3s; width: 100%; display: block!important; text-decoration: none!important;}
	.header__small .nav .main_link i {display: none;}
	.header__small .nav .link:after {position: absolute; left: 0; right: 100%; top: 100%; display: block; content: ''; background: #be1537; height: 2px; transition: .5s;}
	.header__small .nav .link:hover:after {right: 0%;}
	.header__small .nav .fa-times-circle {display: block;}
}
@media (max-width:740px) {/*320*/
	.header__small .header__phone .t1 {font-size: 15px;}
	.header__small .header__phone i {display: none;}
}

/*slider-wrap*/
.slider-wrap {position: relative; z-index: 2;}
.slider-wrap .arrows {position: absolute; font-size: 70px; color: #fff; z-index: 2; top: 50%; margin-top: -35px; transition: .3s;}
.slider-wrap .left, body .slick-prev {left: 2%;}
.slider-wrap .right, body .slick-next {right: 2%;}
body .slick-prev, body .slick-next {width: 25px; height: 70px; z-index: 3;}
body .slick-prev:before, body .slick-next:before {display: none;}
body .slider-wrap .hover {color: #E92530;}
body .slick-dots {bottom: -3px;}
.slick-active button {background: #EA2630!important;}
body .slick-dots li button {width: 15px; height: 15px; padding: 0; background: #fff; border-radius: 50%;}
body .slick-dots li button:before {display: none;}

/*slider-main*/
.slider-main .slick-slide {height: 1267px; background-size: cover; position: relative;}
.slider-main .slick-slide .t1 {position: absolute; font-size: 43px; font-weight: 300; z-index: 2; color: #fff; left: 5.5%; top: 149px;}
.slider-main .slick-slide .t1 p {background: rgba(200,31,41,.8); padding: 5px 10px;}
.slider-main .slick-slide .sale {background: url(../img/bg_actions.png) no-repeat; width: 201px; height: 187px; position: absolute; right: 12%; top: 10%; display: flex; justify-content: center; align-items: center; flex-direction: column; text-decoration: none;}
.slider-main .slick-slide .sale i {font-size: 70px; color: #fff;}
.slider-main .slick-slide .sale .t {font-size: 30px; color: #fff; text-transform: uppercase; text-align: center; margin-top: 10px;}
.slider__blocks {display: flex; flex-wrap: wrap; position: absolute; left: 5.8%; right: 10.5%; top: 65%;}
.slider__blocks .block {width: 28.7%; background: rgba(255,255,255,.9); margin-left: 6.8%;}
.slider__blocks .block:first-child {margin-left: 0;}
.slider__blocks .block .title {background: #FE3030; height: 74px; display: flex; align-items: center; padding: 0 8px; color: #fff;}
.slider__blocks .block .title .number {font-size: 35px; text-align: center; display: inline-block; width: 50px; height: 50px; border: 1px solid #fff;}
.slider__blocks .block .title .t {font-size: 23px; text-transform: uppercase; margin-left: 10px;}
.slider__blocks .block:nth-child(3) .title .t {text-align: center;}
.slider__blocks .block:nth-child(3) .title .t .mini {text-transform: none;}
.slider__blocks .block .info {display: flex; flex-direction: column; padding: 23px 0 23px 55px;}
.slider__blocks .block .info .headline {font-size: 25px; color: #FF0000; margin-bottom: 21px;}
.slider__blocks .block .info .link {font-size: 25px; color: #000; text-decoration: none; transition: .3s; display: block; margin-bottom: 23px; transition: .3s;}
.slider__blocks .block .info .link:hover {color: #FF0000;}
.slider__blocks .block .info .more {font-size: 24px; color: #FF0000; position: relative; transition: .3s; text-decoration: none;}
.slider__blocks .block .info .more span {text-decoration: underline;}
.slider__blocks .block .info .more:hover {color: #E23C3C;}
.slider__blocks .block .info .more i {position: absolute; left: -35px; font-size: 30px; top: 50%; margin-top: -15px;}
.slider__blocks .block .info .mt {margin-top: 24px;}
@media (max-width:1800px) {/*1600*/
	.slider__blocks .block .title .t {text-align: center}
	.slider__blocks .block:last-child .title .t {margin-left: 0px;}
}
@media (max-width:1599px) {/*1280*/
	.slider__blocks {left: 2%; right: 2%;}
	.slider__blocks .block .info {padding: 23px 20px;}
	.slider__blocks .block .info .link, .slider__blocks .block .info .headline {font-size: 1.9vw;}
	.slider__blocks .block .info .more {font-size: 1.3vw	; display: flex; align-items: center;}
	.slider__blocks .block .info .more i {display: inline-block; left: auto; right: auto; top: auto; position: relative; text-decoration: none; margin-top: 0; margin-right: 10px;}
	.slider-main .slick-slide .t1 {right: 5.5%;}
	.slider-main .slick-slide .sale {right: 5.5%; top: 25%;}
}
@media (max-width:1280px) {/*1024*/
	.slider__blocks .block .info {padding: 23p 10px;}
	.slider__blocks .block .info .more {font-size: 1.6vw; margin-bottom: 10px;}
	.slider__blocks .block .info .more:last-child {margin-bottom: 0;}
	.slider__blocks .block .info .more i {font-size: 2vw;}
	.slider__blocks .block .title .t {font-size: 2vw;}
	.slider-main .slick-slide .t1 {font-size: 3.5vw;}
}
@media (max-width:1024px) {/*740*/
	.slider__blocks .block {width: 32%; margin-left: 2%;}
	.slider__blocks .block .info {padding: 23px 10px;}
	.slider__blocks .block .info .more {font-size: 2vw;}
	.slider__blocks .block .info .more i {font-size: 3vw;}
}
@media (max-width:740px) {/*320*/
	.slider__blocks .block {width: 100%; margin-left: 0; margin-top: 30px;}
	.slider__blocks .block:first-child {margin-top: 0;}
	.slider__blocks .block .title .t {font-size: 20px;}
	.slider__blocks .block .info .more {font-size: 16px; margin-top: 0;}
	.slider__blocks .block .info .more i {font-size: 21px;}
	.slider__blocks .block .info .link, .slider__blocks .block .info .headline {font-size: 21px;}
	.slider-main .slick-slide {height: 500px;}
	.slider-main .slick-slide .t1 {font-size: 24px; left: 2%; right: 52%; top: 21%;}
	.slider-main .slick-slide .sale {background: rgba(200,31,41,.8); width: 100px; height: 80px; right: 0; top: 21%; transition: .3s; padding: 0 12px; transition: .5s;}
	.slider-main .slick-slide .sale:hover {width: 150px;}
	.slider-main .slick-slide .sale i {display: none;}
	.slider-main .slick-slide .sale .t {font-size: 16px; margin-top: 0; font-weight: 500;}
	.slider__blocks {position: relative; top: 0; left: 0; right: 0; padding: 1% 2% 0 2%;}
	.slider__blocks .block {margin-top: 20px;}
	.slider__blocks .block .info {padding: 0px 10px 10px;}
	body .slick-prev, body .slick-next, .slider-wrap .left, body .slick-prev {display: none!important;}
	.slider-wrap .right, body .slick-next {display: none;}
}
@media (max-width:640px) {/*320*/
	.slider-main .slick-slide .t1 {font-size: 17px;}
}

.content__about {line-height: 1.6; font-size: 19px; color: #000; display: flex; flex-wrap: wrap; font-weight: 300; position: relative; padding-bottom: 100px;}
.content__about * {width: 100%;}
.content__h1 {font-size: 39px; color: #ff0000; margin-bottom: 14px; font-weight: 300;}
.content__title {font-size: 35px; color: #FF0000; margin-bottom: 15px; width: 100%; font-weight: 300;}
@media (max-width:1024px) {/*1024*/
	.content__title, .content__h1 {font-size: 4vw; line-height: 4.3vw; text-align: center; margin: 15px 0;}
}
@media (max-width:740px) {/*320*/
	.content__about {padding-top: 20px;}
	.content__title, .content__h1 {font-size: 24px; line-height: 26px; text-align: center;}
}

/*content__list-check*/
.content__list-check {margin-bottom: 50px;}
.content__list-check li:first-child {margin-top: 0;}
.content__list-check li {list-style-type: none; position: relative; padding-left: 40px; margin-top: 18px; font-size: 17px; display: block;}
.content__list-check .fa {font-size: 30px; color: #E91B26; position: absolute; left: 0; top: 50%; margin-top: -13px; width: 30px;}
/*content__address*/
.content__address {width: 50%; padding-right: 3%;}
.content__address p {font-size: 24px; margin-bottom: 10px;}
.content__video {width: 50%; border: 5px solid #EA2630;}
@media (max-width:1280px) {/*1024*/
	.content__address {width: 100%; padding: 0;}
	.content__video {width: 100%; height: 320px;}
}
@media (max-width:740px) {/*320*/
	.content__address {margin-bottom: 20px;}
	.content__address p {font-size: 18px;}
}
/*content__advantages*/
.content__advantages {margin-top: 30px;}
.content__advantages .content__list-check {display: flex; flex-wrap: wrap;}
.content__advantages li {width: 33%; padding-right: 5%; display: flex; align-items: center;}
.content__advantages li:nth-child(3n) {padding-right: 0;}
@media (max-width:1280px) {/*1024*/
	.content__advantages li {padding-right: 1%; font-size: 1.7vw;}
}
@media (max-width:1024px) {/*740*/
	.content__list-check {justify-content: space-between;}
	.content__advantages li {width: 50%; font-size: 2vw; margin-bottom: 15px;}
	.content__advantages .content__list-check {margin-bottom: -15px;}
	.content__advantages li:nth-child(2n) {padding-right: 0;}
	.content__advantages li:nth-child(3n) {padding-right: 1%;}
}
@media (max-width:740px) {/*320*/
	.content__list-check {margin-bottom: 20px;}
	.content__advantages li {width: 100%; font-size: 15px;}
}

/*content__partners*/
.content__partners {margin-top: 30px; display: flex; flex-wrap: wrap;}
.content__partners .item {width: 33%; justify-content: center; display: flex; flex-wrap: wrap; text-decoration: none;}
.content__partners .item img {max-width: 172px; width: 100%; margin-bottom: 15px;}
.content__partners .item p {font-size: 19px; color: #000; text-align: center; transition: .3s;}
.content__partners .item p span {border-bottom: 1px dashed #000;}
.content__partners .item:hover p {color: #FF0000;}
.content__partners .item:hover p span {border-color: #FF0000;}
.content__partners .big {margin-top: 30px;}
.content__partners .big p {font-size: 30px; margin-bottom: 16px; color: #FF0000; font-weight: 300;}
.content__partners .big a {text-align: center;}
.content__partners .big a img {max-width: 390px; margin-bottom: 0; border: 15px solid #FFDFB1;}
@media (max-width:1280px) {/*1024*/
	.content__partners .big {width: 50%;}
}
@media (max-width:1024px) {/*740*/
	.content__partners .big {width: 100%; margin-top: 20px;}
}
@media (max-width:740px) {/*320*/
	.content__partners .item {width: 100%; margin-top: 20px;}
	.content__partners .big p {font-size: 21px; line-height: 21px;}
}

/*content__scheme*/
.content__scheme {margin: 30px 0;}
.content__scheme .scheme {background: url(../img/map.jpg) center center no-repeat; height: 820px; position: relative; background-size: cover;}
.content__scheme .t {background: rgba(200,31,41,.8); font-size: 24px; padding: 6px 30px 6px 106px;; position: absolute; width: 44%; color: #fff; line-height: 1.3; font-weight: 300;}
.content__scheme .t i {font-size: 60px; color: #fff; position: absolute; left: 30px; top: 50%; margin-top: -30px; width: 52px;}
.content__scheme .t1 {right: 5%; top: 3%;}
.content__scheme .t2 {left: 5%; bottom: 3%; width: 52%;}
.content__scheme .housing {width: 100px; height: 100px; position: absolute; background: url(../img/bg_korpus.png) no-repeat; font-size: 53px; display: flex; justify-content: center; align-items: center; text-decoration: none; color: #fff;}
.content__scheme .housing:hover {background: url(../img/bg_korpus_hover.png) no-repeat;}
.content__scheme .fa {position: absolute; left: 45px; bottom: -39px; font-size: 54px; color: #fff;}
.content__scheme .h1 {left: 27%; top: 57%;}
.content__scheme .h2 {left: 38%; top: 28%;}
.content__scheme .h3 {left: 66%; top: 35%;}
.content__scheme .h4 {left: 66%; top: 73%;}
@media (max-width:1640px) {/*1600*/
	.content__scheme .t {font-size: 20px;}
}
@media (max-width:1280px) {/*1024*/
	.content__scheme .h1 {left: 11%;}
	.content__scheme .h2 {left: 28%;}
	.content__scheme .h3 {left: 79%;}
	.content__scheme .h4 {left: 79%;}
	.content__scheme .t1 {width: 68%;}
	.content__scheme .t2 {width: 68%;}
}
@media (max-width:1024px) {/*740*/
	.content__scheme .t {font-size: 16px; padding: 10px;}
	.content__scheme .t i {display: none;}
}
@media (max-width:740px) {/*320*/
	.content__scheme .t1 {width: auto; left: 2%; right: 2%;}
	.content__scheme .t2 {width: auto; left: 2%; right: 2%;}
	.content__scheme .h1 {left: 2%; top: 30%;}
	.content__scheme .h2 {right: 2%; top: 30%; left: auto;}
	.content__scheme .h3 {left: 2%; top: 50%;}
	.content__scheme .h4 {right: 2%; top: 50%; left: auto;}
}

/*get-up*/
.get-up {justify-content: center; display: flex; flex-wrap: wrap; width: auto; text-decoration: none; color: #E91B26; position: absolute; right: 2%; bottom: 0;}
.get-up i {color: #E91B26; width: auto; font-size: 80px; line-height: 40px;}
.get-up span {width: 100%; text-align: center; font-weight: 500; font-size: 21px;}

/*footer*/
.footer {box-shadow: 0px 0px 10px #A9A9A9; margin-top: 100px; padding: 20px 0; font-size: 15px; color: #696969;}
.footer .wrapper {display: flex; flex-wrap: wrap;}
.footer__contact {border: 2px solid #C0C0C0; width: 29.6296%; padding: 12px; position: relative; padding-top: 16px; margin-right: 4.9768%;}
.footer__title {font-size: 16px; color: #A9A9A9; font-weight: 500;}
.footer__main-title {font-size: 19px; font-weight: 500; color: #696969; padding: 0 8px; background: #f5f5f5; position: relative; display: block; position: absolute; left: 11px; top: -14px;}
.footer__contact .phone {font-size: 19px; color: #696969; font-weight: 500; }
.footer__phone {font-size: 27px; color: #696969; letter-spacing: 1.07px;}
.footer__time-work {margin: 10px 0; display: block;}
.footer__time-work .sp2 {text-align: right;}
.footer__list {width: 13.3101%; margin-bottom: -10px; margin-right: 4.8611%;}
.footer__list .title {font-size: 19px; font-weight: 500; color: #696969; margin-bottom: 15px;}
.footer__list .link {color: #696969; margin-bottom: 10px; width: 100%; font-size: 15px; display: block; transition: .3s;}
.footer__list .link:hover {color: #FF0000;}
.footer__list__colomns {width: 22%; display: flex; flex-wrap: wrap; align-content: flex-start; margin-right: 0;}
.footer__list__colomns .title {width: 100%;}
.footer__list__colomns .link {width: 45%;}
.footer__list__colomns .link:nth-child(even) {margin-right: 10%;}
.footer__social {position: absolute; right: 2%; top: 20px;}
.footer__metrika {text-align: right; margin-top: 20px;}
.footer__bottom {display: flex; width: 100%; margin-top: 30px; justify-content: space-between;}
.footer__bottom .copy {font-size: 13px; color: #696969;}
.footer__bottom .by {font-size: 13px; color: #696969;}
.footer__bottom .by a {font-size: 13px; color: #696969;}
@media (max-width:1680px) {/*1600*/
	.footer__list {width: 18%;}
	.footer__list__colomns {width: 28%;}
}
@media (max-width:1370px) {/*1280*/
	.footer__list {width: 18%;}
	.footer__list__colomns {width: 28%;}
	.footer__list .link {font-size: 14px;}
	.footer__time-work .sp1 {display: block; margin-top: 5px;}
	.footer__time-work .sp2 {text-align: left;}
	.footer__phone {font-size: 23px; margin-left: 5px;}
}
@media (max-width:1280px) {/*1024*/
	.footer__list .title {font-size: 16px;}
	.footer__list {width: 23%;}
	.footer__list__colomns .link {width: 100%;}
	.footer__list__colomns .link:nth-child(2n) {margin-right: 0;}
	.footer__list__colomns {width: 17%;}
	.footer__phone {font-size: 16px;}
}
@media (max-width:1024px) {/*740*/
	.footer__contact {width: 70%;}
	.footer__time-work {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline;}
	.footer__time-work .sp1 {display: inline-block; text-align: right;}
	.footer__time-work .sp2 {text-align: right; width: 100%;}
	.footer__list {width: 31%; margin-top: 20px;}
}
@media (max-width:740px) {/*320*/
	.footer__contact {width: 100%;}
	.footer__list {width: 100%; margin-right: 0;} 
	.footer__bottom {flex-wrap: wrap;}
	.footer__bottom .copy, .footer__bottom .by {width: 100%;}
	.footer__bottom .by {margin-top: 20px;}
	.footer__social {top: -104px;}
}

.copy_link {
    font-size: 13px;
    color: #696969;
    text-decoration: none;
}

.content__video {height: 60vh;}


/*static*/
.static {margin-top: 140px;}
.static h1 {margin-bottom: 15px; color: #ff0000; font-size: 3vw; font-weight: 300;}
.static p {font-size: 19px; color: #000; font-weight: 300; margin-bottom: 10px;}
.phone__link {font-size: 19px; color: #000; font-weight: 300; text-decoration: none;}
@media (max-width:740px) {/*320*/
	.static h1 {font-size: 21px; text-align: center;}
	.static p {font-size: 16px;}
}

/*slider_bot*/
.slider_news {height: 100%;}
.slick-slider .slick-track, .slick-slider .slick-list {height: 100%;}
.slider__bot {height: 60px; background: rgba(183,90,85,.85); position: absolute; left: 0; bottom: 0; right: 0; padding-left: 22px;}
.slider_news_wrap {height: 100%;}
.slider_flex {display: flex; align-items: center; height: 100%;}
.slider__bot .t1 {font-size: 21px; color: #fff; letter-spacing: 1.07px; font-family: 'roboto', sans-serif; display: flex; align-items: center;}
.slider__bot .fa {font-size: 30px; color: #fff; margin-right: 10px;}
.slider__bot .t2 {font-size: 19px; color: #fff; letter-spacing: 1.07px; font-family: 'roboto', sans-serif; font-weight: 300; margin-top: 2px;}
.slider__bot .t2 a {text-decoration: underline;}
.slider__bot .text2 {margin: 0 25px; justify-content: center; border-radius: 4px; width: 150px; height: 30px; display: flex; align-items: center; background: #E71312;}
@media (max-width:1024px) {/*740*/
	.slider__bot {padding: 0 1%; justify-content: space-between;}
	.slider__bot .t1 {font-size: 16px;}
	.slider__bot .t2 {font-size: 14px; text-align: right;}
	.slider__bot .text2 {margin: 0 10px; width: auto; padding: 0 10px;}
}
@media (max-width:740px) {/*320*/
	.slider-wrap {padding-bottom: 101px;}
	.slider__bot {padding: 0 1%; flex-wrap: wrap; height: 100px;}
	.slider_flex {flex-wrap: wrap;}
	.slider__bot .t2 {text-align: left;}
}

.news_link {color:#fff !important;}

/*parking__cont*/
.parking__cont {display: flex; align-items: flex-start; justify-content: space-between;}
.parking__cont .img {width: 26%; overflow: hidden;}
.parking__cont .img img {width: 100%; height: auto;}
.parking__cont .text {width: 70%;}
@media (max-width:740px) {/*320*/
	.parking__cont {flex-wrap: wrap;}
	.parking__cont .img {width: 100%; margin-bottom: 20px;}
	.parking__cont .text {width: 100%;}
}

