.nav {
	flex: 1;
	&__ul {
		display: flex;
		width: 100%;
		height: 100%;
	}
	&__li {
		height: 60px;
		padding: 8px 9px 0 9px;
		border-top: 2px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		list-style: none;
		&.act {
			border-top-color: #e7435d;
			border-left-color: #c8c8c8;
			border-right-color: #c8c8c8;
			transform: translateY(1px);
			position: relative;
			z-index: 2;
			background: #fff;
			transition: border-color .4s;
			.nav__button {
				color: #e42644;
			}
		}
	}
	&__button {
		border: none;
		background: none;
		font-size: 16px;
		color: #000000;
		cursor: pointer;
		transition: border .4s color .4s;
	}
}