.search {
	width: 250px;
	position: relative;
	align-self: center;
	display: flex;
	align-items: center;
	&__input {
		height: 32px;
		border: 1px solid #c8c8c8;
		width: 100%;
		padding-left: 9px;
		transform: translateY(-5px);
		&:focus + .search__submit {
			transform: scale(1.2);
		}
	}
	&__submit {
		border: 0;
		position: absolute;
		background: url(../img/search.svg) no-repeat;
		background-size: 17px 18px;
		width: 17px;
		height: 18px;
		display: block;
		right: 5px;
		top: 2px;
		cursor: pointer;
	}
}