* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
@mixin PTSans {
	font-family: 'PT Sans', sans-serif;
}

@mixin HeliosC {
	font-family: 'HeliosC', sans-serif;
}

body {
	@include PTSans;
}

.wrapper {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
