<section class="scheme">
  <div class="scheme__title">Дом уже заселен. Осталось всего 28 квартир из 439</div>
  <div class="scheme__section">
    <div class="scheme__section-name">Секция 1</div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">17</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">16</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">15</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">14</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">13</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">12</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">11</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">10</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">9</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">8</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">7</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">6</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">5</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">4</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">3</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">2</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">1</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
  </div>
  <div class="scheme__section">
    <div class="scheme__section-name">Секция 2</div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">17</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">16</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">15</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">14</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">13</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">12</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">11</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">10</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">9</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">8</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">7</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">6</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">5</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">4</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">3</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">2</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">1</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
  </div>
  <div class="scheme__section">
    <div class="scheme__section-name">Секция 3</div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">17</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">16</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">15</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">14</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">13</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">12</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">11</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">10</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">9</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">8</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">7</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">6</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">5</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">4</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">3</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">2</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">1</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
  </div>
  <div class="scheme__section">
    <div class="scheme__section-name">Секция 4</div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">17</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">16</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">15</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">14</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">13</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">12</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">11</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">10</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">9</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">8</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">7</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">6</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">5</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">4</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">3</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">2</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">1</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
  </div>
  <div class="scheme__section">
    <div class="scheme__section-name">Секция 5</div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">17</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">16</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">15</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">14</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">13</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">12</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">11</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">10</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">9</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">8</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">7</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">6</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">5</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">4</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">3</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">2</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">1</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
  </div>
  <div class="scheme__section">
    <div class="scheme__section-name">Секция 6</div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">17</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">16</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">15</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">14</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">13</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">12</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">11</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">10</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">9</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">8</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">7</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">6</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">5</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">4</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">3</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">2</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
    <div class="scheme__line">
      <div class="scheme__item scheme__item--number">1</div>
      <a href="#" class="scheme__item scheme__item--buy">
        2
        <div class="scheme__popup animated slideInDownPopup">
          <div class="scheme__popup-text">2-комн. <br /> квартира</div>
          <div class="span scheme__popup-number">№ 234</div>
        </div>
      </a>
      <a href="#" class="scheme__item scheme__item--booking">2</a>
      <a href="" class="scheme__item"></a>
      <a href="" class="scheme__item"></a>
    </div>
  </div>
  <div class="scheme__transcript">
    <div class="scheme__transcript-item">
      <div class="scheme__item"></div>
      <span class="scheme__transcript-text">Квартира продана</span>
    </div>
    <div class="scheme__transcript-item">
      <div class="scheme__item scheme__item--buy"></div>
      <span class="scheme__transcript-text">Квартира в продаже</span>
    </div>
    <div class="scheme__transcript-item">
      <div class="scheme__item scheme__item--booking"></div>
      <span class="scheme__transcript-text">Квартира на брони</span>
    </div>
    <div style="background-image:url(img/korp1.png);" class="scheme__transcript-item scheme__transcript-item--corp">
      <span class="scheme__transcript-text--corp">Корпус 41</span>
    </div>
  </div>
</section>
